
<div class="content-wrapper">
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class=" box-default">
          <!-- /.box-header -->
          <div class="box-body">
            <div class="form-group">
              <div class="box col-sm-12 col-xs-12 col-md-12 col-lg-12 toolbar-adj">
                <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 redText yellowText" style="color:red;padding-bottom:10px;" i18n="@@loco:$2176">*Dates are mandatory to search</div>
                <div class="col-sm-12 col-xs-12 col-md-5 col-lg-5 pull-left refresh-adj">
                  <form #myForm="ngForm" novalidate>
                    <my-date-picker name="mydate" [options]="myDatePickerOptions"  placeholder="From date" i18n-placeholder="[placeholder]@@loco:$1922"
                    [(ngModel)]="reportFromDate" required></my-date-picker>
                  </form>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-5 col-lg-5 paddingTop8">
                  <form #myForm="ngForm" novalidate>
                    <my-date-picker name="mydate" [options]="myDatePickerOptions" placeholder="To date" i18n-placeholder="[placeholder]@@loco:$1923"
                    [(ngModel)]="reportToDate" required></my-date-picker>
                  </form>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-2 col-lg-2 res-btn1 outlineNo refresh-adj">
                  <button type="submit" (click)="getReport()" class="btn white m-b form-control input-adj btn-info outlineNo" i18n="@@loco:$1258">Refresh</button>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                  <flash-messages></flash-messages>
                </div>

                <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12 height49 marginTop refresh-adj selectState" >
                  <span class="spanCls" i18n="@@loco:$1579">State</span>
                  <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite"   (click)="chooseState(stateSel.value)" #stateSel [disabled]="userGlobal=='N'">
                    <!-- [disabled]="userGlobal=='N'" -->
                    <option *ngFor="let post of stateListData" value={{post.adoumOprID}} [selected]="post.adoumOprID === stateID" >{{post.adoumOprName}}</option>
                  </select>
                </div>
                <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12 height49 marginTop selectState" >
                  <span class="spanCls" i18n="@@loco:$1707">APMC</span>
                  <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite"  (click)="chooseApmc(apmcSel.value)" #apmcSel [disabled]="userGlobal=='N'">
                    <!-- [disabled]="userGlobal=='N'" -->
                    <option *ngFor="let post of apmcListData" value={{post.adoumOprID}} [selected]="post.adoumOprID === apmcID" >{{post.adoumOprName}}</option>
                  </select>
                </div>
                <!-- <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12 height49 marginTop refresh-adj" style="margin-top: 24px;">
                  <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite" [(ngModel)]="call2">
                    <option value="0" selected>Not Listed</option>

                  </select>
                </div> -->
                <!--Table start here-->
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 " style="padding:15px">
                  <div class=" col-sm-12 col-xs-12 col-md-2 col-lg-2" style="padding-left:0">
                    <select class="form-control  input-adj inputDark inputWhite" (change)="chooseFileType(fileType.value)" #fileType>
                      <!-- <option value="null">-- Select File Type --</option> -->
                      <option value="pdf" i18n="@@loco:$24" selected >PDF</option>
                      <option value="rtf" i18n="@@loco:$27">RTF</option>
                      <option value="xls" i18n="@@loco:$26">EXCEL</option>
                    </select>
                  </div>
                  <div class="col-sm-12 col-xs-12 col-md-2 col-lg-2  res-btn">
                    <button  aria-controls="example" class="btn btn-default buttons-excel buttons-html5 primary input-adj outlineNo  reportButton" href="#" tabindex="0"  i18n="@@loco:$18" (click)="getWinnerList()" style="width:100%;">
                      <span >Trader Wise Bid<br> Opening Winner List</span>
                    </button>
                  </div>
                  <div class="col-sm-12 col-xs-12 col-md-2 col-lg-2 res-btn">
                    <button  aria-controls="example" class="btn btn-default buttons-excel buttons-html5 primary input-adj outlineNo  reportButton" href="#" tabindex="0"  i18n="@@loco:$19" (click)="getTraderLot()">
                      <span >Trader Lot Details</span>
                    </button>
                  </div>
                  <div class="col-sm-12 col-xs-12 col-md-2 col-lg-2  res-btn ">
                    <button  aria-controls="example" class="btn btn-default buttons-excel buttons-html5 primary btn-rad0 input-adj outlineNo reportButton" href="#" tabindex="0"  i18n="@@loco:$1164" (click)="getSaleAgreement()">
                      Sale Agreement
                    </button>
                  </div>
                  <div class="col-sm-12 col-xs-12 col-md-2 col-lg-2  res-btn ">
                    <button  aria-controls="example" class="btn btn-default buttons-excel buttons-html5 primary btn-rad0 input-adj outlineNo reportButton" href="#" tabindex="0"  i18n="@@loco:$2075" (click)="getSaleBill()">
                      Sale Bill
                    </button>
                  </div>
              </div>
                <div class="header-font col-sm-12 col-xs-12 col-md-12 col-lg-12">
                  <div class=" text-pending-adjust pull-left text_color" i18n="@@loco:$1969">
                    Paid Invoice</div>
                  </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">

                    <div class="table-fixed padding-top table-responsive">
                      <table  [mfData]="reportData" #mf="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                        <thead>
                          <tr>
                          </tr>
                          <tr>
                            <th><mfDefaultSorter by="invoice" i18n="@@loco:$1764">Invoice</mfDefaultSorter></th>
                            <th><mfDefaultSorter by="invoice" i18n="@@loco:$1781">Date</mfDefaultSorter></th>
                            <th><mfDefaultSorter by="lotcode" i18n="@@loco:$1786">Lot Code</mfDefaultSorter></th>
                            <th><mfDefaultSorter by="sellername" i18n="@@loco:$114">Seller Name</mfDefaultSorter></th>
                            <th><mfDefaultSorter by="agentname" i18n="@@loco:$773">Agent Name</mfDefaultSorter></th>
                            <th><mfDefaultSorter by="amount" i18n="@@loco:$1004">Amount</mfDefaultSorter></th>
                            <th><mfDefaultSorter by="amount" i18n="@@loco:$2179">Online Receipt</mfDefaultSorter></th>
                            <th><mfDefaultSorter by="amount" i18n="@@loco:$1900">Settlement</mfDefaultSorter></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td colspan="9" *ngIf="mf.data.length=='0'" class="noDataDisp">No data to display</td>
                          </tr>
                          <tr *ngFor='let post of mf.data'>
                            <td>{{post.payInvoiceNo}}</td>
                            <td>{{post.auchInvoiceDate}}</td>
                            <td>{{post.lotCode}}</td>
                            <td>{{post.farmerName}}</td>
                            <td>{{post.agentName}}</td>
                            <td>{{post.payInvoiceAmt}}</td>
                            <td><button type="button" class="btn  btn-info btn-pay-ajst1 outlineNo" (click)="onReceipt(post)">Online Receipt</button></td>
                            <td><button type="button" class="btn  btn-warning btn-pay-ajst1 outlineNo" i18n="@@loco:$1900" (click)="onSettlement(post)">Settlement</button></td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <td colspan="8">
                              <mfBootstrapPaginator></mfBootstrapPaginator>
                            </td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              <!-- POPUP FOR LOGGEDOUT SESSION EXPIRE -->
            <div id="popup4" [className]="my_class50">
                  <div class="popup">

                    <div class=" newContentPop ">
                      <div>Your token has expired.<br> Redirecting to login page...</div>
                    </div>

                  </div>
              </div>
<!--popup ends-->
            </div>
          </div>
          <!-- /.box -->
        </section>
      </div>
      <!-- /.row -->
  </section>
</div>
<!-- <footer class="main-footer ">
  <div style="padding:6px;">
    <strong>Copyright &copy; 2017 </strong> All rights
  reserved.
  </div>
</footer> -->
