<div class="content-wrapper" >
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class=" box-default">
          <!-- /.box-header -->
          <div class="box box-body col-lg-12 col-md-12 col-xs-12 col-sm-12 pb-15">
            <div class="dropdown inline col-lg-12 col-md-12 col-sm-12 col-xs-12 pb-15 section-top">
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 paddingNo textWhite section-heading" i18n="@@loco:$2202">
                Permit Request [New]
              </div>
              <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3 pull-left cal-adj paddingNo p-date">
                Invoice Date
              </div>
              <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3 pull-left cal-adj paddingNo p-date">
                Invoice Date
              </div>
              <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3 pull-left cal-adj paddingNo p-date">
                Invoice Date
              </div>
              <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3 pull-left cal-adj paddingNo p-date">
                Invoice Date
              </div>
              <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 pd-row">
                <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3 pull-left cal-adj paddingNo">
                    <my-date-picker name="mydate"  placeholder="From date" i18n-placeholder="[placeholder]@@loco:$2022"
                     required></my-date-picker>
                </div>
                <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3 cal-adj1">
                    <my-date-picker name="mydate"   placeholder="To date"  i18n-placeholder="[placeholder]@@loco:$2023"
                     required></my-date-picker>
                </div>
                <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3 cal-adj1">
                  <input type="text" class="form-control input-adj res-btn inputDark inputWhite"  id="trader"  placeholder="Trader" i18n-placeholder="[placeholder]@@loco:$1091">
                </div>
                <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3 cal-adj1">
                  <input type="text" class="form-control input-adj res-btn inputDark inputWhite"  id="commodity"  placeholder="Commodity" i18n-placeholder="[placeholder]@@loco:$1091">
                </div>
              </div>
              <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2 pull-left cal-adj paddingNo p-status">
                Permit Status
              </div>
              <!-- TABLE -->
              <div class="table-fixed padding-top table-responsive category-table " infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="300">
                  <div class="display-table"  style="font-size: 11px;text-align: center;">
                      <div class="display-table-row header table-header"> 
                        <div class="display-table-cell"  >
                          Sr.No
                        </div>
                        <div class="display-table-cell" >
                          Permit Date
                        </div>
                        <div class="display-table-cell" >
                          Permit No.
                        </div>
                        <div class="display-table-cell" >
                          Permit Type
                        </div>
                        <div class="display-table-cell" >
                          Trader
                        </div>
                        <div class="display-table-cell" >
                          Commodity
                        </div>
                        <div class="display-table-cell" >
                          Amount In Rs.
                        </div>
                        <div class="display-table-cell" >
                          Bag Type
                        </div>
                        <div class="display-table-cell" >
                          No.Of bags
                        </div>
                        <div class="display-table-cell display-table-cell-sm" >
                          Requested Qty (qntl.)
                        </div>
                        <div class="display-table-cell" >
                          Approved Qty (qntl.)
                        </div>
                        <div class="display-table-cell" >
                          Status
                        </div>
                        <div class="display-table-cell" >
                          Valid Upto
                        </div>
                        <div class="display-table-cell" >
                          Extended UpTo
                        </div>
                        <div class="display-table-cell" >
                          Target Apmc
                        </div>
                        <div class="display-table-cell" >
                          Reason
                        </div>
                        <div class="display-table-cell" >
                          Remark
                        </div>
                        <div class="display-table-cell" >
                          Report
                        </div>
                      </div>
                      <div style="text-align: center;font-size:14px"  class="noDataDisp">
                        No data to display
                      </div>
                      <!-- table data -->
                      <!-- <div class="display-table-row data" *ngFor="let data of tableData | filter: searchText; index as i">
                          
                          <div class="display-table-cell display-table-cell-lg">
                             <span title="{{data.name}}">{{data.name}}</span> 	
                          </div>
                          <div class="display-table-cell">
                            <span title="{{data.phNo}}">{{data.phNo}}</span>	
                          </div>
                          <div class="display-table-cell">
                            <span title="{{data.email}}">{{data.email}}</span>		
                          </div>
                          <div class="display-table-cell">
                            <span title="{{data.vehicleDesc}}">{{data.vehicleDesc}}</span>	
                          </div>
                          <div class="display-table-cell">
                            <span title="{{data.vehicleSize}}">{{data.vehicleSize}}</span>		
                          </div>
                          <div class="display-table-cell">
                            <span title="{{data.vehicleCapacity}}">{{data.vehicleCapacity}}</span>
                          </div>
                          <div class="display-table-cell">
                            <span title="{{data.capacityUnit}}">{{data.capacityUnit}}</span>			
                          </div>
                          <div class="display-table-cell">
                            <span title="{{data.rateCard}}">{{data.rateCard}}</span>
                          </div>
                          <div class="display-table-cell">
                            <span title="{{data.unit}}">{{data.unit}}</span>	
                          </div>
                          <div class="display-table-cell">
                            <span title="{{data.vehicleNo}}">{{data.vehicleNo}}</span>
                          </div>
                          <div class="display-table-cell">
                            <span title="{{data.fromDate}}">{{data.fromDate}}</span>
                          </div>
                          <div class="display-table-cell">
                            <span title="{{data.toDate}}">{{data.toDate}}</span>
                          </div>
                          <div class="display-table-cell">
                            <span title="{{data.permitType}}">{{data.permitType}}</span>
                          </div>
                          <div class="display-table-cell">
                            <span title="{{data.averageRating}}">{{data.averageRating}}</span>
                          </div>
                          <div class="display-table-cell">
                            <a *ngFor="let item of starList; let j=index " (click)="setStar(j,data)">  
                              <i  class="fa fa-green" [ngClass]="(checkRating(j,data))?'fa-star':'fa-star-o'"></i>   
                             </a>
                          </div>
                      </div> -->
                      
                      <!-- end of table data -->
                  </div> 
                  
                  <!-- <div class="display-table"  style="font-size: 11px;text-align: center;" *ngIf="!tableData || tableData.length<=0">
                      <div class="loader col-md-offset-5"></div>
                  </div> -->
              </div>
              <!-- <div style="text-align: center;font-size:14px"  class="noDataDisp" *ngFor="let data of tableData | filter: searchText">
                <div *ngIf="data && data.length <= 0">
                  No data to display
                </div>
              </div>  -->
              <!-- End Table -->
              
            </div>
          </div>
        </div>
      </section> 
    </div>
  </section>
</div>