@font-face {
	 font-family: 'Roboto';
  src: url('../fonts/roboto/Raleway-Regular.eot');
  src: url('../fonts/roboto/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
	/*url('../fonts/roboto/300.woff') format('woff'),
 url('../fonts/roboto/400.woff') format('woff'),
 url('../fonts/roboto/700.woff') format('woff'),*/
			 url('../fonts/roboto/Roboto-Regular.woff') format('woff'),
       url('../fonts/roboto/Raleway-Regular.ttf') format('truetype'),
       url('../fonts/roboto/Raleway-Regular.svg#Raleway') format('svg');
}

@font-face{
	 font-family:'Roboto-Bold';
	 src: url('../fonts/roboto/Roboto-Bold.ttf');

}

@font-face{
	 font-family:'Roboto-Regular';
	 src: url('../fonts/roboto/Roboto-Regular.ttf');

}

/*@media screen and (-webkit-min-device-pixel-ratio:0) {
@font-face {
	 font-family: 'Raleway';
	src: url('../fonts/Raleway-Regular.svg#Raleway') format('svg');
	font-weight: normal;
	font-style: normal;
}
}*/

body {

  position: relative;
  font-weight:400px;
	font-family: 'Roboto', sans-serif;
}
