.adjpopup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 50%!important;
    position: relative;
    transition: all 5s ease-in-out;
}

.btn-pay-ajst1{
  height: 25px!important;
  text-align: center;
  font-size: 14px;
  border-radius: 20px;

  width: auto!important;
  line-height: 15px;
  padding: 5px 15px!important;
}
.padding{
  background-color: #e5ebe8;
}
.btn-rad0{
  border-radius: 0;
  width: 100%;
}
.textfield-adjust{
  margin-top: -49px;
  margin-left: 56%;
  width:58%;
}
.btncolor{
  background-color: grey;
  color:#fff;
  font-weight: bold;
}
.btncolor:hover{
  background-color: #524e4e;
  color:#fff;
  font-weight: bold;
}
.outlineNo{
  outline: none!important;
}
.padding-top{
  padding-top: 18px;
width: 100%;
margin-left: -11px;
padding-right: 1px;
}
.btn-arrng{
  padding-left: 10px;
}
.main-footer {
    position: fixed;
    background: #fff;
    bottom: 0!important;
    width: 100%;
    height: 60px;
    color: #444;
    border-top: 1px solid #d2d6de;
    box-shadow: 6px -4px 17px -4px rgba(210,214,222,1);
}
.pay-color{
  color:white;
}
.pay-color:hover{
  color:white;
  background-color: #228b4e;
  border-color: #228b4e;

}
.toolbar-adj{
    margin-bottom: -7px;
    margin-left: -13px;
    padding-top: 25px;
    padding-right: 14px;
}
.side-adj{
      margin-right: -29px;
}
.upper-adj{
  margin-top: -5px;
    margin-left: -11px;
    margin-right: -10px;
}
.commodity-adj{
  padding-top: 10px;
  margin-left: -11px;
}
.txtfld-height{
  height: 49px;
}
.textfield-adjust2{
    margin-top: -49px;
    margin-left: 100%;
    height: 49px;
}
.date-field{
  width:58%;
}
.search-btn{
  width: 68%;
  margin-top: -57px;
  margin-left: 200%;
  background-color: #f59e12;
  color: white;
}

.search-hover:hover{
  background-color: #f3c111;
  border-color: #f3c111;
  color: white;
}
.search-hover:focus{
  background-color: white!important;
  box-shadow: none;
  color: #55595C;
}
.search-btn-height{
  height: 49px;
}
.box-adjust{
  margin-top: 39px;
  margin-right: -6px;
  margin-left: -11px;


}
.border-add{
  margin-bottom: -16px;

  margin-left: 0px;
  margin-right: 0px;
}
.sec-box{
  width: 63%;
  margin-left: -10px;

}
.pending-name{
  width: 9%;
  font-weight: bolder;
  font-family: 'Lato', sans-serif;
  font-size: small;
  color:  #2c9759;
}
.pending-amount{
  width: 9%;
  padding-left: 89%;
  margin-top: -21px;
  font-weight: bolder;
  font-family: 'Lato', sans-serif;
  font-size: large;
  color:  #2c9759;
}
.table-fixed{


  width: 100%;

}
.btn-trade{
    background-color: #00ccb1;
    border-color: #00ccb1!important;
    color: white;
}

.btn-pay-ajst2{
  height: 25px!important;
    text-align: center;
    font-size: 14px;
    border-radius: 20px;
    background-color: #f3c111;
    border-color: #f3c111;
    width: auto!important;
    line-height: 15px;
    padding: 5px 15px!important;
}
.btn-pay-ajst-disable{
    height: 17px;
    text-align: center;
    font-size: 14px;
    border-radius: 20px;
    background-color: #e5ebe8;
    border-color: #e5ebe8;
    color:#9a9a9a;
}
.btn-pay-ajst-disable:hover{
    height: 17px;
    text-align: center;
    font-size: 14px;
    border-radius: 20px;
    background-color: #e5ebe8!important;
    border-color: #e5ebe8;
    color:#9a9a9a;
    cursor: default;
}
.side-table-adjust{
    margin-left: 57em;
    margin-top: -71.5%;
    width: 60.80%;
}
.side-table-adjust2{
  margin-left: 63.20%;
  margin-top: -70%;
  width: 38.20%;
}
.side-table-adjust3{
  margin-left: 63.20%;
  margin-top: -46%;
  width: 38.20%;
}
.header-font{
  font-family: 'Lato', sans-serif;
  color: #2c9759;
  font-size: 18px;
  padding-top: 12px;

}

.amount-adj{

  font-family: 'Lato', sans-serif;
  color: #2c9759;
  font-size: large;
  font-weight: bold;
  padding-right: 63px;
}
.input-adj{
  height: 49px;
  width: 100%;
}
.text-pending-adjust{
  margin-left: 2px;
    font-size: large;
}
.pagination-right{
  margin-left: 33%;
}
.padding-right0{
  padding-right: 0;
}
div.disabled {
    color: gray;
    cursor: not-allowed;
    text-decoration: underline;
		pointer-events: none;

}
.preferAdd{
  height: 10px;
  font-size: 15px;
}

@media screen (min-width:413px)and (max-width: 767px)
{
.table-responsive {
  border: none;
  }
}

@media screen and (max-width: 412px)
  {
    .table-responsive {
      border: none;
      }
      .comSide-adj{
        padding: 9px 0px 15px 0px;;
      }
      .comSide-adj1{
        padding: 0px;
        width: 100%;
      }

}
@media screen and (max-width:353px)
{
  .refreshAdj{
    padding: 0;
  }
}
