
<div class="content-wrapper" >
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class=" box-default">
          <!-- /.box-header -->
          <div class="box box-body col-lg-12 col-md-12 col-xs-12 col-sm-12">

            <div class="dropdown inline col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 15px;font-size: 22px; width:100%;text-overflow: ellipsis;overflow: hidden;">
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 paddingNo textWhite" style="margin-top: 10px;float: left;text-overflow: ellipsis;overflow: hidden;" i18n="@@loco:$1934">All Commodity Bid Listing</div>
               <!-- <div style="    width: 30%;float: right;"> -->
               <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 paddingNo textWhite" style="margin-top: 10px;text-overflow: ellipsis;overflow: hidden;"><span style="padding-left: 107px;font-size: 17px;" i18n="@@loco:$512">Commodity</span></div>
               <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 comSide-adj paddingNo" data-placement="down" title="search your product">

                 <select  class="form-control  input-adj inputDark inputWhite" (change)="onProdSelection(prod.value)" #prod>
                   <option value="all" selected>All</option>
                   <option *ngFor="let post of allCommodityObjArr" value={{post.gmpmgProdID}}  >{{post.gmpmgProdName}}</option>
                   <!-- <option *ngFor="let post of commodityObjArr" value={{post.commodityId}}>{{post.commodityName}}</option> -->
                 </select>
               </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 comSide-adj">
                  <button class=" btn btn-fw white success input-adj btn-success outlineNo" i18n="@@loco:$1258" (click)="searchByCommodity()" data-placement="down" title="click to search" style="text-overflow: ellipsis;overflow:hidden">
                    <!-- <img src="assets/images/refresh-arrow.svg" style="height:26px;width:26px;padding-right:8px;"> -->
                    <span   >Search</span></button>
                </div>
                <div class=" col-lg-2 col-md-2  col-sm-8 col-xs-8  paddingNo comSide-adj1">
                  <button class="btn btn-fw white accent input-adj btn-info outlineNo" i18n="@@loco:$1273" (click)="addPrefer()" data-toggle="modal" data-target="#popupPrefered" style="text-overflow: ellipsis;overflow: hidden;" data-placement="down" title="add to preferred commodity" [disabled]="disableConfirm" >Add to preferred commodity</button>
                </div>
                <div id="popup4" [className]="my_class6" *ngIf="replyServer != undefined">
                  <div class="popup">
                        <div class="alert preferAdd" *ngIf="replyServer.status == 1"><span>Added To Preferred Commodity</span></div>
                        <div class="alert preferAdd" *ngIf="replyServer.status == 0"><span>Something Went Wrong</span></div>
                  </div>
                </div>
              <!-- </div> -->
            <!--      </div> -->
          </div>
          <!-- Modal for Succesfullful message -->
          <div class="modal fade" id="popupPrefered" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="data.status=='1'">

            <div class="modal-dialog" role="document">
              <div class="modal-content">

                <div class="modal-body">
                  Sucessfully added
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
              </div>
            </div>
        </div>
          <!--TABLE COLLAPSING-->

          <div class="table-fixed padding-top table-responsive category-table " infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="300"  (scrolled)="getAllCommodityBidListing()" >
            <!-- (scrolled)="getBidListDetails()"  -->
            <div class="display-table" *ngIf="filteredData != undefined" style="font-size: 11px;margin-bottom: 3vh;">
                <div class="display-table-row header"> 
                  <div class="display-table-cell" >
                  </div>
                  <div class="display-table-cell" >
                    APMC
                    <span (click)="sortTable('apmc')" class="filterIcon"><i class="fa fa-sort fa-1g" aria-hidden="true"></i></span>
                  </div>
                  <div class="display-table-cell" >
                    Commodity  Details
                  </div>
                  <div class="display-table-cell" >
                    No of Bags
                    <span (click)="sortTable('bagNo')" class="filterIcon"><i class="fa fa-sort fa-1g" aria-hidden="true"></i></span>
                  </div>
                  <div class="display-table-cell" >
                    Quantity (Kg.)
                    <span (click)="sortTable('quantityInKg')" class="filterIcon"><i class="fa fa-sort fa-1g" aria-hidden="true"></i></span>
                  </div>
                  <div class="display-table-cell" >
                    Min Bid (Rs.)
                    <span (click)="sortTable('minBid')" class="filterIcon"><i class="fa fa-sort fa-1g" aria-hidden="true"></i></span>
                  </div>
                  <div class="display-table-cell" >
                    Last Bid (Rs.)
                    <span (click)="sortTable('lastBid')" class="filterIcon"><i class="fa fa-sort fa-1g" aria-hidden="true"></i></span>
                  </div>
                  <div class="display-table-cell" >
                    Trade Result
                  </div>
                  <div class="display-table-cell" >
                    Certificate
                  </div>
                  <div class="display-table-cell" >
                    Re-Bid Allowed
                  </div>
                  <div class="display-table-cell" >
                    Time Remaining
                  </div>
                  <div class="display-table-cell" >
                    Start & End Date
                  </div>
                  <div class="display-table-cell" >
                    Extended Time
                  </div>
                  <div class="display-table-cell" >
                    Seller Details
                  </div>
                </div>
                <div style="text-align: center;font-size:14px" *ngIf="filteredData.length==0" class="noDataDisp" >
                  No data to display
                </div>
                <div class="display-table-row data" *ngFor="let post of filteredData; let i=index">
                 <div class="display-table-cell">
                   <a style="cursor:pointer"  (click)="chngImg(post,i)"><img [src]="post.imgsrc"></a>
                 </div>
                 <div class="display-table-cell">
                   {{post.adoumOprName}}
                 </div>
                 <div class="display-table-cell">
                   <table width="125px" padding="0">
                   <tr>
                   <td colspan="2"> <b>{{post.gmpmgProdName}}</b></td>
                     <!-- <div style="font-size: 12px;"> -->
                   </tr>
                   <tr style="line-height: 20px;">
                     <td i18n="@@loco:$1091" ><div style="font-weight: bold;color:green;" class="darkgreen">Lot Code:</div></td>
                     <td>{{post.abcLotID}}</td>
                     <!-- <div style="font-weight: bold;color:green;font-size: 12px;"> -->
                     <!-- <div style="font-size: 12px;"> -->
                   </tr>
                   <tr style="line-height: 20px;">
                     <td i18n="@@loco:$1158"><div style="font-weight: bold;color:green;" class="darkgreen">Org Id:</div></td>
                     <td>{{post.abcOrgID}}</td>
                   </tr>
                 </table>
                 </div>
                 <div class="display-table-cell">
                   {{post.iledNoofBag | slice : 0:5}}
                 </div>
                 <div class="display-table-cell">
                   {{post.iledQTY | slice : 0:8}}
                 </div>
                 <div class="display-table-cell">
                   {{post.abcMspBidRate}}
                 </div>
                 <div class="display-table-cell">
                   {{post.maxOpenBidValue}}
                 </div>
                 <div class="display-table-cell">
                   <button type="button" class="btn btn-pay-ajst1 outlineNo btncolor" data-toggle="modal" data-target="#bidnow2" i18n="@@loco:$1889" style="font-size: 13px;" data-placement="down" title="view result" (click)="seeTradeResult()">Show</button>
                 </div>
                 <div class="display-table-cell">
                  <button type="button" class="btn btn-pay-ajst1 outlineNo btncolor" data-toggle="modal" data-target="#bidnow3" i18n="@@loco:$1889" style="font-size: 13px;" data-placement="down" title="view certificate" (click)="viewCertificate()">View</button>
                 </div>
                 <div class="display-table-cell">
                     <span *ngIf="post.abcSubMultBid=='Y'"><img src="assets/images/checked.png" style="padding-left:25px;">
                     </span>
                     <span *ngIf="post.abcSubMultBid=='N'"><img src="assets/images/unchecked.png" style="padding-left:25px">
                     </span>
                 </div>
                 <div class="display-table-cell">
                   <app-timer (stopBid)="test($event, i)" [inputDate]="post.abcEndDate" >Loading...</app-timer>{{message}}
                 </div>
                 <div class="display-table-cell">
                   <table>
                     <tr>
                       <td>
                         <span style="font-weight: bold;color:green;" class="darkgreen">Start: </span>{{post.abcStartDate | date:'y-M-d HH:mm a'}}
                       </td>
                     </tr>
                     <tr>
                       <td>
                         <span style="font-weight: bold;color:green;" class="darkgreen">End: </span>{{post.abcEndDate | date:'y-M-d HH:mm a'}}
                       </td>
                     </tr>
                   </table>
                  </div>
                  <div class="display-table-cell">
                    {{post.abcExtendedEndTime}}
                  </div>
                  <div class="display-table-cell">
                    <table width="125px" padding="0">
                      <tr>
                        <td>{{post.seller}}</td>
                      </tr>
                      <tr>
                        <td>{{post.villageName}}</td>
                      </tr>
                  </table>
                  </div>
               </div>
              </div>
              <div id="certificate" [className]="my_class">
                <div class="popup adjpopup" >
                  <h2 i18n="@@loco:$1236">Certificate</h2>
                  <div class="close" (click)="offComCertifiacate()" ><img class="" src="assets/images/delete.png"></div>
                  <div class="content newContentPop">
                    <div class="table-responsive table-fixed padding-top" style="padding-top:25px">
                      <table  [mfData]="certificateData" #mf2="mfDataTable" [mfRowsOnPage]="6" class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                        <thead>

                        <tr class="tableDarkHeader">
                          <th><mfDefaultSorter by="docno" i18n="@@loco:$1605">Document number</mfDefaultSorter></th>
                          <th><mfDefaultSorter by="srNo" i18n="@@loco:$1606">Serial number</mfDefaultSorter></th>
                          <th><mfDefaultSorter by="paramName" i18n="@@loco:$1600">Test parameter</mfDefaultSorter></th>
                          <th><mfDefaultSorter by="assVal" i18n="@@loco:$1607">Test value</mfDefaultSorter></th>
                          <th><mfDefaultSorter by="valChar" i18n="@@loco:$1607">Test unit</mfDefaultSorter></th>
                        </tr>
                      </thead>
                      <tbody id="certDark">
                        <tr>
                          <td colspan="5" *ngIf="mf2.length=='0'" class="noDataDisp">No data to display</td>
                        </tr>
                        <tr  *ngFor='let post of mf2.data'>
                          <td>{{post.docno}}</td>
                          <td>{{post.srNo}}</td>
                          <td>{{post.paramName}}</td>
                          <td>{{post.assVal}}</td>
                          <td>{{post.valChar}}</td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan="5">
                            <mfBootstrapPaginator></mfBootstrapPaginator>
                          </td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                  </div>
                </div>
              </div>
            </div>








          <!-- POPUP FOR LOGGEDOUT SESSION EXPIRE -->
            <div id="popup4" [className]="my_class4">
                  <div class="popup">

                    <div class=" newContentPop ">
                      <div>Your token has expired.<br> Redirecting to login page...</div>
                    </div>

                  </div>
              </div>
<!--popup ends-->
        </div>
      </div>
      <!-- /.box -->
    </section>
  </div>
  <!-- /.row -->
</section>
</div>
