/*.dropdown-menu {
    display: none;
    position: absolute;

}


.dropdown-menu li a {
    display: block;
}


 Show the dropdown menu on hover
.dropdown:hover .dropdown-menu {
    display: block;
}
.login-padd{
	    padding-right: 24px;

}
.navbar-default{
    margin: 0px -126px 0px 0px;
}
*/
.cursor-chng{
  cursor: default;
}

.btn-group.dropdown.open.left-pad{
    width: 155px!important;
}
.padding-left10{
  padding: 0.4% 2.8%;
}


.left-pad{
  padding-left: 10px;
}
.navbar-brand{
  float: left;
  color:#434343

}
.errorPopup{
  height: 10px;
  font-size: 15px;
  color: red;
}
.successPopup{
  height: 10px;
  font-size: 15px;
  color: green;
}

@media screen and (min-width: 350px) and (max-width: 767px)
{


.left-pad{
  padding-left: 0px;
}
.logo1{
display: none;
}
.active{
  display: none;
}
.logo2{
  display: inline-block;
  width: auto;
  float: left;
  margin-right: 64px;
  margin-top: -5px;
}
.logotxt{
 display: none;
}
.navbar-nav {
     margin:0!important;
}
.time-hide{
  display: none;
}
}
@media screen and (min-width: 1024px) and (max-width: 5000px)
{
  .logo2{
    display: none;
  }

}

@media screen and (min-width: 768px) and (max-width: 1023px)
{
  .logo2{
    display: none;
  }
  .logoadj{
    margin: -4px 90px 0 0;
  }
  .img-text-adj{
    margin: 4px 19px;
  }
}
@media screen and (min-width: 412px) and (max-width: 500px)
{

  .logotxt, .time-hide{
    display: none;
  }
  .logo2{
    display: block;

  }
  .navbarAdj{
    margin: -37px 27px;
  }
  .logoadj{
    margin: -4px 65px 0 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 359px)
{
  .logo1{
    display: none;
  }
  .logotxt, .time-hide{
    display: none;
  }
  .logo2{
    display: inline-block;

  }
  .navbarAdj{
    margin: -37px 27px;
  }
  .logoadj{
    margin: -4px 11px 0 42px;
  }
}
@media screen and (min-width: 360px) and (max-width: 411px)
{
  .logo1{
    display: none;
  }
  .logotxt, .time-hide{
    display: none;
  }
  .logo2{
    display: inline-block;

  }
  .navbarAdj{
    margin: -37px 27px;
  }
  .logoadj{
    margin: -4px 0px 0 0;
  }
}
@media screen and (min-width: 375px) and (max-width: 411px)
{
  .logo1{
    display: none;
  }
  .logotxt, .time-hide{
    display: none;
  }
  .logo2{
    display: inline-block;

  }
  .navbarAdj{
    margin: -37px 27px;
  }
  .logoadj{
    margin: -4px 27px 0 0;
  }
}
.preferText{
  margin-left: 21px;
  color: #00a65a;
  font-size: 14px;
}

/*@media screen and (min-width: 412px) and (max-width: 767px)
{
  .logo1{
    display: none;
  }
  .logotxt, .time-hide{
    display: none;
  }
  .logo2{
    display: inline-block;

  }
  .navbarAdj{
    margin: 0px 0px!important;
  }
  .logoadj{
    margin: -4px 299px 0 0;
  }
}*/
