
<div class="content-wrapper" >
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <section class="content">
          <!-- SELECT2 EXAMPLE -->
          <div class=" box-default">
            <!-- /.box-header -->
            <div class="box box-body col-lg-12 col-md-12 col-xs-12 col-sm-12 pb-15">
              <div class="dropdown inline col-lg-12 col-md-12 col-sm-12 col-xs-12 pb-15 section-top">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 paddingNo textWhite section-heading" i18n="@@loco:$1934">
                  Logistics Services
                  <span style="float: right;margin-right: 16px;margin-left: 0;">
                    <button disabled class="button-search"><i class="fa fa-search"></i></button>  
                    <input type="text" [(ngModel)]="searchText" class="search-input" style="padding-left: 3px;">
                  </span>
                </div>
                <!-- TABLE -->
                <div class="table-fixed padding-top table-responsive category-table " infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="300">
                    <div class="display-table"  style="font-size: 11px;text-align: center;" *ngIf="tableData && tableData.length>0">
                        <div class="display-table-row header table-header"> 
                          <div class="display-table-cell"  >
                            Name
                          </div>
                          <div class="display-table-cell" >
                            Contact
                            No.
                          </div>
                          <div class="display-table-cell" >
                            Email
                            Id
                          </div>
                          <div class="display-table-cell" >
                            Vehicle<br>
                            Type
                          </div>
                          <div class="display-table-cell" >
                            Size<br>
                            of<br>
                            Vehicle
                          </div>
                          <div class="display-table-cell" >
                            Capacity<br>
                            of<br>
                            Vehicle
                          </div>
                          <div class="display-table-cell" >
                            Capacity Unit
                          </div>
                          <div class="display-table-cell" >
                            Rate
                            Card
                          </div>
                          <div class="display-table-cell" >
                            Unit
                          </div>
                          <div class="display-table-cell display-table-cell-sm" >
                            No. of<br>
                            Vehicle
                            Available
                          </div>
                          <div class="display-table-cell" >
                            From
                            Date
                          </div>
                          <div class="display-table-cell" >
                            To
                            Date
                          </div>
                          <div class="display-table-cell" >
                            Permit
                            Type
                          </div>
                          <div class="display-table-cell" >
                            Average<br>
                            Rating
                          </div>
                          <div class="display-table-cell" >
                            Feedback
                          </div>
                        </div>
                        <!-- <div style="text-align: center;font-size:14px"  class="noDataDisp">
                          No data to display
                        </div> -->
                        <!-- table data -->
                        <div class="display-table-row data" *ngFor="let data of tableData | filter: searchText; index as i">
                            
                            <div class="display-table-cell display-table-cell-lg">
                               <span title="{{data.name}}">{{data.name}}</span> 	
                            </div>
                            <div class="display-table-cell">
                              <span title="{{data.phNo}}">{{data.phNo}}</span>	
                            </div>
                            <div class="display-table-cell">
                              <span title="{{data.email}}">{{data.email}}</span>		
                            </div>
                            <div class="display-table-cell">
                              <span title="{{data.vehicleDesc}}">{{data.vehicleDesc}}</span>	
                            </div>
                            <div class="display-table-cell">
                              <span title="{{data.vehicleSize}}">{{data.vehicleSize}}</span>		
                            </div>
                            <div class="display-table-cell">
                              <span title="{{data.vehicleCapacity}}">{{data.vehicleCapacity}}</span>
                            </div>
                            <div class="display-table-cell">
                              <span title="{{data.capacityUnit}}">{{data.capacityUnit}}</span>			
                            </div>
                            <div class="display-table-cell">
                              <span title="{{data.rateCard}}">{{data.rateCard}}</span>
                            </div>
                            <div class="display-table-cell">
                              <span title="{{data.unit}}">{{data.unit}}</span>	
                            </div>
                            <div class="display-table-cell">
                              <span title="{{data.vehicleNo}}">{{data.vehicleNo}}</span>
                            </div>
                            <div class="display-table-cell">
                              <span title="{{data.fromDate}}">{{data.fromDate}}</span>
                            </div>
                            <div class="display-table-cell">
                              <span title="{{data.toDate}}">{{data.toDate}}</span>
                            </div>
                            <div class="display-table-cell">
                              <span title="{{data.permitType}}">{{data.permitType}}</span>
                            </div>
                            <div class="display-table-cell">
                              <span title="{{data.averageRating}}">{{data.averageRating}}</span>
                            </div>
                            <div class="display-table-cell">
                              <a *ngFor="let item of starList; let j=index " (click)="setStar(j,data)">  
                                <i  class="fa fa-green" [ngClass]="(checkRating(j,data))?'fa-star':'fa-star-o'"></i>   
                               </a>
                            </div>
                        </div>
                        
                        <!-- end of table data -->
                    </div> 
                    
                    <div class="display-table"  style="font-size: 11px;text-align: center;" *ngIf="!tableData || tableData.length<=0">
                        <div class="loader col-md-offset-5"></div>
                    </div>
                </div>
                <div style="text-align: center;font-size:14px"  class="noDataDisp" *ngFor="let data of tableData | filter: searchText">
                  <div *ngIf="data && data.length <= 0">
                    No data to display
                  </div>
                </div> 
                <!-- End Table -->
                
              </div>
            </div>
          </div>
        </section> 
      </div>
    </section>
</div>