
/*
 * Specific styles of signin component
 */
/*
 * General styles
 */
 .scrollHide{
   overflow-y: hidden!important;
 }

body, html {
    height: 100%;
    background-repeat: no-repeat;
    background-color: inherit;

}
.captcha{
    border: none;
    text-align: center!important;
    font-weight: 600;
    font-size: 38px;
    color: #440744;
}
.background-bg{
  background-image: url(../../assets/images/background.jpg);

}
.flower{

  background-image: url(../../assets/images/leafs.png);
   background-repeat: no-repeat;
   background-position: 50% 50%;
}

.form input {
    font-family: "Roboto", sans-serif;
    text-align: left!important;
    width: 100%;
    height: 50px;
    border: 0;
    margin: 15px 15px 15px 0px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border: 0;
    border-radius: 0;
    outline-color: transparent!important;
    outline-style: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
.custom-footer{
  display: none;
}
.main-footer {
    position: fixed;
    background: #fff;
    bottom: 0!important;
    width: 100%;
    height: 69px;
    color: #444;
    border-top: 1px solid #d2d6de;
    margin-left: 0;

}
/*.customContent{
  min-height: 250px;
	padding: 31px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 20px;
}*/
/*.lngadj{
  padding: 8px 0 0;
}*/
.loginadj{
  margin: -14px 0 0;
}
.msg{
  text-align: center;
  /*width: 25%;
  margin-left: 31em;*/
}

.onlyBottomBorder {
    border: 0!important;
    outline: none!important;
    background: #fff!important;
    border-radius: 0!important;
    border-bottom: 2px solid #e0e0e0!important;
    padding: 5px 5px 5px 5px!important;
    height: 30px!important;
    outline-color: transparent!important;
    outline-style: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
.leaf-adj{
      padding: 95px 449px 148px 450px;
}







.card-container.card {
  max-width: 353px;
  /*padding: 105px 47px;*/
}

.btn {
    font-size: 14px;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.card {

    /* just in case there no content*/
    padding: 0px 61px 20px;
    margin: 0 auto 91px;
    margin-top: 50px;
    /* shadows and rounded borders */


}
.captchaAdj{
  transform:scale(0.76);
  -webkit-transform:scale(0.76);
  transform-origin:0 0;
  -webkit-transform-origin:0 0;
}

.profile-img-card {
    width: 82px;
    height: 82px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: #7DAC4B;
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 40px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 0px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
    margin-top: 35px;
    cursor:pointer;
text-align: center!important;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.forgot-password {
    color: #b1b1b1;
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}

  .login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
  }
  .form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  //max-width: 360px;
  //margin: 0 auto 100px;
  padding: 45px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
  font-family: "Roboto", sans-serif;
  text-align: left!important;
  width: 100%;
  height: 50px;
  border: 0;
  margin: 15px 15px 15px 0px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border: 0;
  border-radius: 0;
  outline-color: transparent!important;
  outline-style: none!important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  }
  .form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #ed8a34;
  width: 100%;
  border: 0;
  padding: 15px;
  margin: 30px 15px 15px 0px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  }
  .form button:hover,.form button:active,.form button:focus {
  background: #d6731d;
  }
  .form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
  }
  .form .message a {
  color: #d6731d;
  text-decoration: none;
  }
  .form .error-message {
  margin: 15px 0 0;
  color: #f71b1b;
  font-size: 12px;
  }
.onlyBottomBorder {
  border: 0!important;
  outline: none!important;
  background: #fff!important;
  border-radius: 0!important;
  border-bottom: 2px solid #e0e0e0!important;
  padding: 5px 5px 5px 5px!important;
  height: 30px!important;
  outline-color: transparent!important;
  outline-style: none!important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}
.onlyBottomBorder:focus {
  border-color: #ff9900!important;
}
.logo{
  font-weight:bold!important;
  color: #ed8a34!important;

  width: 180px!important;
  height: 37px!important;
  background-repeat: no-repeat!important;
  padding: 0 0 0 0!important;
  margin-left: 0px!important;
}
.content {
     min-height:0px;
     padding-left:0px;
     padding-right: 0px;
     margin-top: 0px;
     height: 100%;
     padding-bottom: 85px;
}

.basic-captcha {
  width:85%;
  float:left;
}
.captcha-reload-btn {
  width:10px!important;
  float:left;
  background: #fff!important;
}
