<body  class="hold-transition skin-blue sidebar-mini paddingNo" id="sbar">
      <navbar></navbar>
        <sidebar></sidebar>

        <router-outlet></router-outlet>
        <footer class="main-footer" *ngIf="this.authservice.loggedIn()">
          <div style="padding:0px;font-size:11px;">
            © 2018 V1.0
          </div>
        </footer>
</body>
