
  <aside class="main-sidebar"   *ngIf="authservice.loggedIn()" >
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->

      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" id="side">
        <li class="treeview" id="dashboard" [routerLinkActive]="['active']">
          <a [routerLink]="['/dashboard']" > <i class="fa "><img class="iconSet"  src="assets/images/dashboard.svg" data-placement="down" title="Dashboard"></i> <span i18n="@@loco:$1745" >Dashboard</span> </a>
        </li>
        <li class="treeview" id="bidlisting" [routerLinkActive]="['active']" style="cursor:pointer;x">
          <a> <i class="fa " [routerLink]="['/newbidlisting']"><img class="iconSet" src="assets/images/list.svg" data-placement="down" title="Bid Listing"></i> <span i18n="@@loco:$1930">Bid Listing</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span>

          </a>
            <ul class="treeview-menu">
              <li [routerLinkActive]="['active']"><a [routerLink]="['/newbidlisting']"  style="padding:11px 18px 4px"><i class="fa"></i><span i18n="@@loco:$1239">New Bid Listing</span></a></li>
              <li [routerLinkActive]="['active']"><a [routerLink]="['/commoditybidlisting']"  style="padding:8px 18px 11px"><i class="fa"></i><span  i18n="@@loco:$1237">All Commodity Bid Listing</span></a></li>
            </ul>
        </li>
        <li class="treeview" id="bidhistory" [routerLinkActive]="['active']">
          <a [routerLink]="['/bidhistory']" > <i class="fa " ><img class="iconSet" src="assets/images/history.svg" data-placement="down" title="My Bidding History"></i> <span i18n="@@loco:$1240">My Bidding History</span>
          </a>
        </li>
        <li class="treeview" id="bankdetails" [routerLinkActive]="['active']">
          <a [routerLink]="['/bankdetails']" > <i class="fa "><img class="iconSet" src="assets/images/credit-card.svg" data-placement="down" title="Bank Details"></i> <span i18n="@@loco:$1755">Bank Details</span>
          </a>
        </li>
        <li class="treeview" id="reports" [routerLinkActive]="['active']">
          <a [routerLink]="['/report']" > <i class="fa "><img class="iconSet" src="assets/images/newspaper.svg" data-placement="down" title="Reports"></i> <span  i18n="@@loco:$17">Reports</span>
          </a>
        </li>
        <li class="treeview" id="logistics" [routerLinkActive]="['active']">
          <a [routerLink]="['/logistics']" > <i class="fa "><img class="iconSet" src="assets/images/logistics.svg" data-placement="down" title="Logistics Services"></i> <span  i18n="@@loco:$2200">Logistics Services</span>
          </a>
        </li>
        <li class="treeview" id="permit" [routerLinkActive]="['active']">
          <a [routerLink]="['/permit']" > <i class="fa "><img class="iconSet" src="assets/images/permission.svg" data-placement="down" title="Logistics Services"></i> <span  i18n="@@loco:$2201">Permit</span>
          </a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
