
<div class="content-wrapper">
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content" style="padding:14px 0">
        <!-- SELECT2 EXAMPLE -->
        <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
          <div class="box-default">
            <div class="box box-body">
              <div class="p-a col-sm-12 col-xs-12 col-md-12 col-lg-12 agree"><div class="text-adj" i18n="@@loco:$1768">Your account must be NEFT/RTGS enabled</div>
              <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 paddingNo">
                <div class="radio radio-primary agr-adj" (click)="radioCheck(agree.value)"  [class.disabled]="agrDisabled">
                  <input type="radio" name="radio1" id="radio1" value="agr" [checked]="radioAgree" [class.disabled]="agrDisabled" #agree>
                  <label for="radio1" [class.disabled]="agrDisabled" i18n="@@loco:$1756">
                    Agree
                  </label>
                </div>
              </div>

              <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 paddingNo" >
                <div class="radio radio-primary disg-adj" (click)="radioCheck(disagree.value)" [class.disabled]="disAgrDisabled" >
                  <input type="radio" name="radio1" id="radio2" value="dgr" [checked]="radioDisagree"  [class.disabled]="disAgrDisabled" #disagree>
                  <label for="radio2" [class.disabled]="disAgrDisabled" i18n="@@loco:$1757">
                    Disagree
                  </label>
                </div>
              </div>
            </div>

            <!-- POPUP FOR LOGGEDOUT SESSION EXPIRE -->
            <div id="popup4" [className]="my_class4">
                  <div class="popup">

                    <div class=" newContentPop ">
                      <div>Your token has expired.<br> Redirecting to login page...</div>
                    </div>

                  </div>
              </div>
              <!--popup ends-->
              <!-- POPUP FOR bank confirmation -->
              <div id="popup5" [className]="my_class5">
                    <div class="popup">

                      <div class=" newContentPop ">
                        <div>{{bankMessage}}</div>
                      </div>

                    </div>
                </div>
                <!--popup ends-->
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
        <div class="box-default">
          <div class="box box-body">
            <div class="table-responsive  col-sm-12 margin-top20">
              <table class="table table-striped white b-a">
                <!-- <tr>
                <th colspan="3">Your Details</th>
              </tr> -->
              <tbody>
                <tr>
                  <td colspan="3" style="color: #C0A16D;font-weight:bold" i18n="@@loco:$1903">  Your Details</td>
                </tr>
                <tr>
                  <td i18n="@@loco:$1758">Agent/Trader Name</td>
                  <td>{{bankData.lcamFullName}}</td>
                </tr>
                <tr>
                  <td i18n="@@loco:$1794">Company Name</td>
                  <td>{{bankData.lcamAgenCompName}}</td>
                </tr>
                <tr>
                  <td i18n="@@loco:$10">Contact Number</td>
                  <td>
                    {{bankData.lcamAgenContNo}}
                  </td>
                </tr>
                <tr>
                  <td i18n="@@loco:$69">Email Id</td>
                  <td>
                    {{bankData.lcamAgenEmailID}}
                  </td>
                </tr>
                <tr>
                  <td i18n="@@loco:$869">Bank Name</td>
                  <td>
                    {{bankData.lcamBankName}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
      <div class="box-default">
        <div class="box box-body">
          <div class="table-responsive  col-sm-12 margin-top20">
            <table class="table table-striped white b-a">
              <tbody>
                <tr>
                  <td colspan="3" i18n="@@loco:$1755" style="color: #C0A16D;font-weight:bold">Bank Details</td>
                </tr>

                <tr>
                  <td i18n="@@loco:$1796">Bank Acc No.</td>
                  <td>{{bankData.lcamBankAccount}}</td>
                </tr>
                <tr>
                  <td i18n="@@loco:$1874">IFSC Code</td>
                  <td>{{bankData.lcamIfscCode}}</td>
                </tr>
                <tr>
                  <td i18n="@@loco:$1830">Adhar Card No.</td>
                  <td>
                      {{bankData.lcamAadharNo}}
                  </td>
                </tr>
                <tr>
                  <td i18n="@@loco:$73">Pan No.</td>
                  <td>
                    {{bankData.lcamPanNo}}
                  </td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>
                    &nbsp;
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- /.box -->
  </section>
</div>
<!-- /.row -->
</section>
</div>
<!-- <footer class="main-footer ">
  <div style="padding:6px;">
    <strong>Copyright &copy; 2017 </strong> All rights
    reserved.
  </div>
</footer> -->
