.col-sm-4 {
    width: 32.3%;
    margin: 0.5%;
}
.paddingNo{
  padding: 0!important;
}

.radio {
    padding-left: 20px; }
.radio label {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    font-size: 17px;
}
.main-footer {
    position: fixed;
    background: #fff;
    bottom: 0!important;
    width: 100%;
    height: 60px;
    color: #444;
    border-top: 1px solid #d2d6de;
    box-shadow: 6px -4px 17px -4px rgba(210,214,222,1);
}

  .outlineNo{
      outline: none!important;
    }

.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 32px;
    height: 32px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    outline: none!important;
    transition: border 0.15s ease-in-out; }
.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 22px;
      height: 22px;
      left: 5px;
      top: 5px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radio input[type="radio"] {
    opacity: 0; }
.radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
.radio input[type="radio"]:disabled + label {
    opacity: 0.65; }
.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed; }
.radio.radio-inline {
    margin-top: 0; }



.radio-primary input[type="radio"] + label::after {
    background-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::before {
    border-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::after {
    background-color: #428bca; }
.padding{
  background-color: #e5ebe8;
}
.details-adj{
  padding-bottom: 24px;
margin-bottom: 1px;
box-shadow: none;
}
.textfield-adjust{
  margin-top: -49px;
  margin-left: 56%;
  width:58%;
}
.pay-color{
  color:white;
}
.pay-color:hover{
  color:white;
  background-color: #228b4e;
  border-color: #228b4e;

}
.toolbar-adj{
    margin-bottom: -7px;
    margin-left: -13px;
    padding-top: 25px;
    padding-right: 14px;
}
.side-adj{
      margin-right: -29px;
}
.upper-adj{
  margin-top: -5px;
    margin-left: -11px;
    margin-right: -10px;
}
.commodity-adj{
  padding-top: 10px;
  margin-left: -11px;
}
.txtfld-height{
  height: 49px;
}
.textfield-adjust2{
    margin-top: -49px;
    margin-left: 100%;
    height: 49px;
}
.date-field{
  width:58%;
}
.search-btn{
  width: 68%;
  margin-top: -57px;
  margin-left: 200%;
  background-color: #f59e12;
  color: white;
}

.search-hover:hover{
  background-color: #f3c111;
  border-color: #f3c111;
  color: white;
}
.search-hover:focus{
  background-color: white!important;
  box-shadow: none;
  color: #55595C;
}
.search-btn-height{
  height: 49px;
}
.box-adjust{
  margin-top: 39px;
  margin-right: -6px;
  margin-left: -11px;


}
.border-add{
  margin-bottom: -16px;

  margin-left: 0px;
  margin-right: 0px;
}
.sec-box{
  width: 63%;
  margin-left: -10px;

}
.pending-name{
  width: 9%;
  font-weight: bolder;
  font-family: 'Lato', sans-serif;
  font-size: small;
  color:  #2c9759;
}
.pending-amount{
  width: 9%;
  padding-left: 89%;
  margin-top: -21px;
  font-weight: bolder;
  font-family: 'Lato', sans-serif;
  font-size: large;
  color:  #2c9759;
}
.table-fixed{


  width: 100%;

}
.btn-pay-ajst1{
  height: 25px!important;
      text-align: center;
      font-size: 14px;
      border-radius: 20px;
      background-color: #22b66e;
      border-color: #22b66e;
      width: auto!important;
      line-height: 15px;
      padding: 5px 15px!important;
}
.btn-pay-ajst2{
  height: 25px!important;
    text-align: center;
    font-size: 14px;
    border-radius: 20px;
    background-color: #f3c111;
    border-color: #f3c111;
    width: auto!important;
    line-height: 15px;
    padding: 5px 15px!important;
}
.btn-pay-ajst-disable{
    height: 17px;
    text-align: center;
    font-size: 14px;
    border-radius: 20px;
    background-color: #e5ebe8;
    border-color: #e5ebe8;
    color:#9a9a9a;
}
.btn-pay-ajst-disable:hover{
    height: 17px;
    text-align: center;
    font-size: 14px;
    border-radius: 20px;
    background-color: #e5ebe8!important;
    border-color: #e5ebe8;
    color:#9a9a9a;
    cursor: default;
}
.side-table-adjust{
    margin-left: 57em;
    margin-top: -71.5%;
    width: 60.80%;
}
.side-table-adjust2{
  margin-left: 63.20%;
  margin-top: -70%;
  width: 38.20%;
}
.side-table-adjust3{
  margin-left: 63.20%;
  margin-top: -46%;
  width: 38.20%;
}
.header-font{
  font-family: 'Lato', sans-serif;
  color: #2c9759;
  font-size: 18px;
  padding-top: 12px;

}

.amount-adj{

  font-family: 'Lato', sans-serif;
  color: #2c9759;
  font-size: large;
  font-weight: bold;
  padding-right: 63px;
}
.input-adj{
  height: 49px;
}
.text-pending-adjust{
  margin-left: 2px;
    font-size: large;
}
.pagination-right{
  margin-left: 33%;
}
.padding-right0{
  padding-right: 0;
}

.margin-top20{
  margin-top: 20px;
  margin-bottom: 18px;
}
.agree{
    font-size: 28px;
    height: 260px;
    padding-left: 24px;
    line-height: 37px;
    background-color: #EFCF62;
    padding-top: 40px;
}
.radio{
  height: 40px;
  width: 53px;
}

.font-adjust{
  font-size: 18px;
padding-top: 4px;

}
.text-adj{
  width: 253px;
  line-height: 30px;
}
@media screen and (min-width: 1045px) and (max-width:1245px){
  .table-responsive {
    border: none;
  }
  .agr-adj{
    padding: 23px 152px!important;
  }
  .disg-adj{
    padding: 23px 147px!important;
  }
  .col-md-4{
    width: 100%;
  }
  .text-adj{
    width: 710px;
    text-align: center;
  }
  .radio[_ngcontent-c3] label[_ngcontent-c3] {
    display: inline-block;
    position: relative;
    padding-left:18px;
    font-size: 17px;
  }
  .radio[_ngcontent-c3] label[_ngcontent-c3]::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 28px;
    height: 28px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    outline: none!important;
    transition: border 0.15s ease-in-out;
  }
  .agree[_ngcontent-c3] {
    font-size: 28px;
    height: 182px;
    padding-left: 24px;
    line-height: 37px;
    background-color: #fdb247;
    padding-top: 35px;
  }
  .radio[_ngcontent-c3] label[_ngcontent-c3]::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 18px;
    height: 18px;
    left: 5px;
    top: 5px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33), -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);

  }
}
@media screen and (min-width: 921px) and (max-width:1044px)
{
  .table-responsive {
    border: none;
  }
  .text-adj{
    width:105%;
  }
}

@media screen and (min-width: 701px) and (max-width:920px)
{
  .table-responsive {
    border: none;
  }
  .text-adj{
    width:105%;
  }
}
@media screen and (min-width: 353px) and (max-width:700px)
{
  .table-responsive {

       border: none;
  }
  .text-adj{
    width:105%;
  }
}
.disabled {
    pointer-events: none;
}
