<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
<div class="content-wrapper" >
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class=" box-default">
          <!-- /.box-header -->
          <div class="box box-body">
            <div class="pull-left col-sm-12 col-xs-12 col-lg-12 col-md-12">
              <div id="here">
                <div id="popup1" [className]="my_class6">
                  <div class="popup">
                        <div class="alert errorPopup">Please Select APMC To Search</div>
                  </div>
                </div>
                <div class=" col-sm-12 col-xs-12 col-md-3 col-lg-3 padding-top" [class.disabled]="true">
                  <div class=" col-sm-12 col-xs-12 col-md-12 col-lg-12 textWhite" style="padding: 0 0 7px;font-weight: bold;" i18n="@@loco:$1707" >APMC</div>
                  <select  class="form-control  input-adj inputDark inputWhite" *ngIf="userType=='M'">
                    <option disabled >{{apmcName}}</option>
                  </select>
                  <select  class="form-control  input-adj inputDark inputWhite" *ngIf="userType=='S'" (change)="onApmcSelection(apmc.value)" id="apmc" #apmc >
                    <option value="" >Select</option>
                    <option *ngFor="let post of apmcList" value={{post.adoumOprID}} [selected]="post.adoumOprID == oprID" >{{post.adoumOprName}}</option>
                  </select>
                </div>

                <div class=" col-sm-12 col-xs-12 col-md-3 col-lg-3 padding-top">
                  <div class=" col-sm-12 col-xs-12 col-md-12 col-lg-12 textWhite" style="padding: 0 0 7px;font-weight: bold;" i18n="@@loco:$1304">AGENT</div>
                  <select class="form-control  input-adj inputDark inputWhite"  (change)="onAgentSelection(ca.value)" id="ca" #ca>
                    <option value="all" selected>All</option>
                    <option *ngFor="let post of modAgentArr" value={{post.agentId}} >{{post.CA}}</option>
                  </select>
                </div>
                <div class=" col-sm-12 col-xs-12 col-md-3 col-lg-3 padding-top">
                  <div class=" col-sm-12 col-xs-12 col-md-12 col-lg-12 textWhite" style="padding: 0 0 7px;font-weight: bold;" i18n="@@loco:$1709">Commodity</div>
                  <select class="form-control  input-adj inputDark inputWhite" (change)="onCommoditySelection(commodity.value)" id="commodity" #commodity>
                    <option value="all" selected>All</option>
                    <option *ngFor="let post of commodityObjArr" value={{post.gmpmgProdID}} >{{post.gmpmgProdName}}</option>
                  </select>
                </div>

                <div class=" col-sm-12 col-xs-12 col-md-2 col-lg-3 res-btn padding-top">
                  <div class=" col-sm-12 col-xs-12 col-md-12 col-lg-12 textWhite" style="padding: 0 0 7px;font-weight: bold;" i18n="@@loco:$1786">Lot Code</div>
                  <input type="text" class="form-control input-adj res-btn inputDark inputWhite" [ngModel]="''" id="lotcode" (ngModelChange)="searchLotcode($event)"  placeholder="Lot Code" i18n-placeholder="[placeholder]@@loco:$1091" [ngModelOptions]="{standalone: true}">

                </div>
                <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3 padding-top">
                  <div class=" col-sm-12 col-xs-12 col-md-12 col-lg-12 textWhite" style="padding: 0 0 7px;font-weight: bold;" i18n="@@loco:$1145">Seller</div>
                    <input type="text" class="form-control  input-adj inputDark inputWhite" [ngModel]="''" id="seller" (ngModelChange)="searchSeller($event)"  placeholder="Seller" i18n-placeholder="[placeholder]@@loco:$1026" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3 padding-top">
                  <div class=" col-sm-12 col-xs-12 col-md-12 col-lg-12 textWhite" style="padding: 0 0 7px;font-weight: bold;" i18n="@@loco:$1884">Village</div>
                    <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''" id="village" (ngModelChange)="searchVillage($event)" placeholder="Village" i18n-placeholder="[placeholder]@@loco:$1613" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3 padding-top">
                  <div class=" col-sm-12 col-xs-12 col-md-12 col-lg-12 textWhite" style="padding: 0 0 7px;font-weight: bold;" >&nbsp;</div>
                    <button class=" btn btn-fw white success input-adj btn-success outlineNo" i18n="@@loco:$1258" (click)="searchBidListingData()" data-placement="down" title="click to search" style="text-overflow: ellipsis;overflow:hidden"><span>Search</span></button>
                </div>
              </div>




                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingNo">
                  <div class="header-font col-lg-12">
                    <div class="pull-left textWhite" i18n="@@loco:$1237" style="color: #000;">My Prefered Commodity Bid Listing</div>
                  </div>
                </div>


        <div class="table-fixed padding-top table-responsive category-table " infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="300"  (scrolled)="getBidListDetails()" >
          <!-- (scrolled)="getBidListDetails()"  -->
          <div class="display-table" *ngIf="filteredData != undefined" style="font-size: 11px;">
              <div class="display-table-row header">
                <div class="display-table-cell" >
                  Commodity  Details
                  <span (click)="sortTable('commodity')" class="filterIcon"><i class="fa fa-sort fa-1g" aria-hidden="true"></i></span>
                </div>
                <div class="display-table-cell" >
                  No. of Bags
                  <span (click)="sortTable('bagNo')" class="filterIcon" style="    margin-left: 9px;"><i class="fa fa-sort fa-1g" aria-hidden="true"></i></span>
                </div>
                <div class="display-table-cell" >
                  Quantity (Kg.)
                  <span (click)="sortTable('quantityInKg')" class="filterIcon"><i class="fa fa-sort fa-1g" aria-hidden="true"></i></span>
                </div>
                <div class="display-table-cell">
                  Min. Bid (Rs.)
                  <span  (click)="sortTable('minBid')" class="filterIcon"><i class="fa fa-sort fa-1g" aria-hidden="true"></i></span>
                </div>
                <div class="display-table-cell" >
                  Last Bid (Rs.)
                  <span  (click)="sortTable('lastBid')" class="filterIcon"><i class="fa fa-sort fa-1g" aria-hidden="true"></i></span>
                </div>
                <div class="display-table-cell">
                  My Bid (Rs.)
                  <span (click)="sortTable('myBid')" class="filterIcon"><i class="fa fa-sort fa-1g" aria-hidden="true"></i></span>
                </div>
                <div class="display-table-cell">
                  Bid
                </div>
                <div class="display-table-cell">
                  Re-Bid Allowed
                </div>
                <div class="display-table-cell">
                  Time Remaining
                </div>
                <div class="display-table-cell">
                  Start & End Date
                </div>
                <div class="display-table-cell">
                  Extended Time
                </div>
                <div class="display-table-cell">
                  Seller Details
                </div>
                <div class="display-table-cell">
                  Certificate
                </div>
                <div class="display-table-cell">
                  Test Result
                </div>
              </div>
              <div style="text-align: center;" *ngIf="filteredData.length==0">
                No data to display
              </div>
              <div class="display-table-row data" *ngFor="let post of filteredData; let i=index">
               <div class="display-table-cell">
                 <b>{{post.gmpmgProdName}}</b>
                 <div style="font-weight: bold;color:green;" class="darkgreen">Lot Code:</div>
                 <span>{{post.iledLotCode}}</span>
               </div>
               <div class="display-table-cell">
                 {{post.iledNoofBag | slice : 0:5}}
               </div>
               <div class="display-table-cell">
                 {{post.iledQTY | slice : 0:7}}
               </div>
               <div class="display-table-cell">
                 {{post.abcMspBidRate}}
               </div>
               <div class="display-table-cell">
                 <!-- {{post.maxOpenBidValue}} -->
                 {{authservice.maxOpenBidMsg[i]}}
                 <!-- {{post.maxOpenBidMsg}} -->
               </div>
               <div class="display-table-cell" style=";text-align:right;font-weight:bolder;font-size:13px">
                   <button type="button" class="btn   btn-pay-ajst1 outlineNo btncolor" title="Get MyBid Value" (click)="getMyBidValue(post,i)">Get MyBid</button>
                 {{post.myBidValueMsg}}
                   <span *ngIf="(post.lastBidValue < post.maxOpenBidValue)  && (post.lastBidValue != 0)" style="text-align: center;">   <img src="assets/images/arrow-down.png"> </span>
                   <span *ngIf="(post.lastBidValue == post.maxOpenBidValue) || (post.lastBidValue == 0)" style="text-align: center;">  <img src="assets/images/arrow-up.png"> </span>
               </div>
               <div class="display-table-cell">
                 <span  *ngIf="(post.abcBidType=='O')&&(post.abcSubMultBid=='Y')" >
                   <!-- bid type Open and multi bid allowed and maxOpenBidValue is equal to last bid value -->
                   <button *ngIf="(post.maxOpenBidValue==post.lastBidValue && post.maxOpenBidValue != undefined && post.lastBidValue != undefined)"  type="button" class="btn  btn-success btn-pay-ajst1 outlineNo" data-toggle="modal" data-target="#bidnow2" i18n="@@loco:$333" (click)="chkBid(post,i)" (click)="div_show()"  data-placement="down" title="click to bid" id="{{i}}">Bid Now</button>
                   <!-- Bid type open,multi bid allowed and maxOpenBidValue is not defined -->
                  <button *ngIf="(post.maxOpenBidValue==undefined)"  type="button" class="btn  btn-success btn-pay-ajst1 outlineNo" data-toggle="modal" data-target="#bidnow2" i18n="@@loco:$333" (click)="chkBid(post,i)" (click)="div_show()"  data-placement="down" title="click to bid" id="{{i}}">Bid Now</button>
                 </span>
                 <!-- <span *ngIf="(post.abcBidType=='O')&&(post.abcSubMultBid=='Y')">

                 </span> -->
                 <!-- Bid type closed,multi bid allowed and maxOpenBidValue is equal to last bid value -->
                 <!-- <span *ngIf="(post.abcBidType=='C')&&(post.abcSubMultBid=='Y')">
                   <button *ngIf="(post.maxOpenBidValue==post.lastBidValue)"  type="button" class="btn  btn-success btn-pay-ajst1 outlineNo" data-toggle="modal" data-target="#bidnow2" i18n="@@loco:$1098" (click)="chkBid(post,i)" (click)="div_show()"  data-placement="down" title="click to bid" id="{{i}}">Bid Now</button>
                 </span> -->
                 <!-- Bid type closed,multi bid allowed and maxOpenBidValue is equal to zero and last bid value is not zero -->
                 <span *ngIf="(post.abcBidType=='C')&&(post.abcSubMultBid=='Y')">
                   <button *ngIf="(post.maxOpenBidValue=='0.00')&&(post.lastBidValue!='0')"  type="button" class="btn  btn-success btn-pay-ajst1 outlineNo" data-toggle="modal" data-target="#bidnow2" i18n="@@loco:$333" (click)="chkBid(post,i)" (click)="div_show()"  data-placement="down" title="click to bid" id="{{i}}" >Bid Now</button>
                 </span>

                 <!-- Bid type opened and multibid not allowed  and lastBidValue is not Zero and maxOpenBidValue is not zero-->
                 <span  *ngIf="(post.abcBidType=='O')&&(post.abcSubMultBid=='N')" >
                   <button *ngIf="(post.lastBidValue!='0.00')" type="button" class="btn  btn-success btn-pay-ajst1 outlineNo" data-toggle="modal" data-target="#bidnow2" i18n="@@loco:$333" (click)="chkBid(post,i)" (click)="div_show()"  data-placement="down" title="click to bid" id="{{i}}" [disabled]="true">Bid Now</button>
                   <button *ngIf="(post.lastBidValue=='0.00')" type="button" class="btn  btn-success btn-pay-ajst1 outlineNo" data-toggle="modal" data-target="#bidnow2" i18n="@@loco:$333" (click)="chkBid(post,i)" (click)="div_show()"  data-placement="down" title="click to bid" id="{{i}}" >Bid Now</button>
                 </span>
                 <!-- Bid type closed and multibid not allowed and lastBidValue is not zero but maxOpenBidValue is zero-->
                 <span  *ngIf="(post.abcBidType=='C')&&(post.abcSubMultBid=='N')" >
                   <button *ngIf="(post.lastBidValue!='0.00')" type="button" class="btn  btn-success btn-pay-ajst1 outlineNo" data-toggle="modal" data-target="#bidnow2" i18n="@@loco:$333" (click)="chkBid(post,i)" (click)="div_show()"  data-placement="down" title="click to bid" id="{{i}}" [disabled]="true">Bid Now</button>
                   <button *ngIf="(post.lastBidValue=='0.00')" type="button" class="btn  btn-success btn-pay-ajst1 outlineNo" data-toggle="modal" data-target="#bidnow2" i18n="@@loco:$333" (click)="chkBid(post,i)" (click)="div_show()"  data-placement="down" title="click to bid" id="{{i}}" >Bid Now</button>
                 </span>
                 <!-- last bid value is less then maxOpenBidValue and last bid is not zero then down arrow ,danger buttom -->
                 <span *ngIf="(post.lastBidValue < post.maxOpenBidValue)  && (post.lastBidValue != '0.00') && (post.abcSubMultBid=='Y')" >
                   <button type="button" class="btn  btn-danger btn-pay-ajst1 outlineNo" data-toggle="modal" data-target="#bidnow2"  i18n="@@loco:$333" (click)="chkBid(post,i)" (click)="div_show()"  data-placement="down" title="click to bid">Bid Now </button>
                 </span>
                 <!-- last bid value is less then maxOpenBidValue and last bid value is zero -->
                 <span *ngIf="(post.lastBidValue < post.maxOpenBidValue)  && (post.lastBidValue == '0.00') && (post.abcSubMultBid=='Y')" >
                   <button type="button" class="btn   btn-pay-ajst1 outlineNo" data-toggle="modal" data-target="#bidnow2"  i18n="@@loco:$333" (click)="chkBid(post,i)" style="background-color:#f7a137;border-color:#f7a137;color:white" (click)="div_show()"  data-placement="down" title="click to bid">Bid Now </button>
                 </span>
               </div>
               <div class="display-table-cell">
                 {{post.abcSubMultBid}}
               </div>
               <div class="display-table-cell">
                 <app-timer (stopBid)="test($event, i)" [inputDate]="post.abcEndDate" [exdInputDate]="post.abcExtendedEndTime" >Loading...</app-timer>
                 {{message}}
               </div>
               <div class="display-table-cell">
                 <table>
                   <tr>
                     <td>
                       <span style="font-weight: bold;color:green;" class="darkgreen" i18n="@@loco:$1229">Start: </span>{{post.abcStartDate | date:'dd-MM-yyyy HH:mm a'}}
                     </td>
                   </tr>
                   <tr>
                     <td>
                       <span style="font-weight: bold;color:green;" class="darkgreen" i18n="@@loco:$1231">End: </span>{{post.abcEndDate | date:'dd-MM-yyyy HH:mm a'}}
                     </td>
                   </tr>
                 </table>
               </div>
               <div class="display-table-cell">
                {{post.abcExtendedEndTime | date:'dd-mm-yyyy HH:mm a'}}
               </div>
               <div class="display-table-cell">
                 <table>
                   <tr>
                     <td><span style="font-weight: bold;color:green;" class="darkgreen"  i18n="@@loco:$774">Seller: </span>{{post.sellerName}}</td>
                   </tr>
                   <tr>
                     <td><span style="font-weight: bold;color:green;" class="darkgreen" i18n="@@loco:$1665">CA: </span>{{post.CA}}</td>
                   </tr>
                   <tr>
                     <td><span style="font-weight: bold;color:green;" class="darkgreen" i18n="@@loco:$1884">Village: </span>{{post.villageName}}</td>
                   </tr>
                 </table>
               </div>
               <div class="display-table-cell">
                  <button type="button" class="btn   btn-pay-ajst1 outlineNo btncolor" data-toggle="modal" data-target="#" i18n="@@loco:$1762" data-placement="down" title="show certificate" (click)="seeTradeResult(post)">Show</button>
               </div>
               <div class="display-table-cell">
                  <button type="button" class="btn   btn-pay-ajst1 outlineNo btncolor" data-toggle="modal" data-target="#" i18n="@@loco:$41" data-placement="down" title="view result" (click)="viewCertificate(post)">View</button>
               </div>

             </div>
            </div>
            <div id="popup1" [className]="my_class1" >
              <div class="popup">
                <h2 i18n="@@loco:$1435">Bid Now</h2>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 value-adj">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" *ngIf="(lastBidValue < maxOpenBidValue)  && (lastBidValue != 0)">
                    <span class="" i18n="@@loco:$1248">
                      Last bid
                    </span><br>
                    <span class="">
                      Rs. {{maxOpenBidValue}}
                    </span>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" *ngIf="(lastBidValue < maxOpenBidValue)  && (lastBidValue != 0)">
                    <span class="" i18n="@@loco:$2158">
                      Your bid
                    </span><br>
                    <span class="">
                      Rs. {{lastBidValue}}
                    </span>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" *ngIf="(lastBidValue == maxOpenBidValue) || (lastBidValue == 0)">
                    <span class="" i18n="@@loco:$1248">
                      Last bid
                    </span><br>
                    <span class="">
                      Rs. {{maxOpenBidValue}}
                    </span>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" *ngIf="(lastBidValue == maxOpenBidValue) || (lastBidValue == 0)">
                    <span class="" i18n="@@loco:$2158">
                      Your bid
                    </span><br>
                    <span class="">
                      Rs. {{lastBidValue}}
                    </span>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" *ngIf="(lastBidValue > maxOpenBidValue) && (maxOpenBidValue==0.00)">
                    <span class="" i18n="@@loco:$1248">
                      Last bid
                    </span><br>
                    <span class="">
                      Rs. {{maxOpenBidValue}}
                    </span>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" *ngIf="(lastBidValue > maxOpenBidValue) && (maxOpenBidValue== 0.00)">
                    <span class="" i18n="@@loco:$2158">
                      Your bid
                    </span><br>
                    <span class="">
                      Rs. {{lastBidValue}}
                    </span>
                  </div>
                </div>
                <div class="close" (click)="closeButton1()" ><img class="" src="assets/images/delete.png"></div>
                <!-- <a class="close" href="#" onclick="div_hide()">&times;</a> -->
                <div class="content newContentPop">
                  <flash-messages></flash-messages>
                  <div style="font-size: 14px;font-family: monospace;" i18n="@@loco:$2159">Minimum bid value is: Rs.{{abcMspBidRate}} </div>
                  <div *ngIf="(lastBidValue < maxOpenBidValue)  && (lastBidValue != 0)" class="bidTextred" i18n="@@loco:$2160">*Your bid is low. Please bid.</div>
                  <div *ngIf="(lastBidValue > maxOpenBidValue)"  class="bidTextgreen" i18n="@@loco:$2161">*You are the highest bidder.</div>
                  <div *ngIf="(lastBidValue == 0)"  class="bidTextred" i18n="@@loco:$2162">*You have not bid yet.</div>
                  <div *ngIf="(lastBidValue == maxOpenBidValue)"  class="bidTextgreen" i18n="@@loco:$2163">*Bid value is equal.</div>
                  <input *ngIf="maxOpenBidValue==0" id="focus1" type="number" class="form-control input-adj" [(ngModel)]="bidvalue" [placeholder]="abcMspBidRate" pattern="[0-9]" style="text-overflow:ellipsis;overflow:hidden;" placeholder="Value should be greater than min bid value" [ngModelOptions]="{standalone: true}" i18n-placeholder="[placeholder]@@loco:$2168">
                  <input *ngIf="maxOpenBidValue!=0" id="focus1" type="number" class="form-control input-adj" [(ngModel)]="bidvalue" pattern="[0-9]" style="text-overflow:ellipsis;overflow:hidden;" placeholder="Value should be greater than min bid value" [ngModelOptions]="{standalone: true}" i18n-placeholder="[placeholder]@@loco:$2168">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-toggle="modal" data-target="#bidnow3" (click)="bidNow()" i18n="@@loco:$333">Bid</button>

                </div>
              </div>
            </div>
            <!-- [className]="my_classHidden" -->
            <div id="popup2" [className]="my_class2"  *ngIf="(bidvalue!=0) && (bidvalue!=null && bidvalue > maxOpenBidValue && bidvalue >= this.abcMspBidRate)">
              <div class="popup" >
                <h2 i18n="@@loco:$2164">Confirmation</h2>
                <div class="close" (click)="closeButton2()" ><img class="" src="assets/images/delete.png"></div>
                <div class="content newContentPop" i18n="@@loco:$2165" >
                  Do you want to finalise Bid?
                </div>
                <div class="modal-footer" >
                  <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="finalBid()" (click)="resultShow1()" (click)="reset()" i18n="@@loco:$2166">Yes</button>
                  <button type="button" class="btn btn-default outlineNo popbtn" data-dismiss="modal" (click)="div1_hide()" i18n="@@loco:$2167">No</button>
                </div>
              </div>
            </div>

            <!-- Final result popup -->
            <!-- [className]="my_classVisible" -->
            <div id="popup5" [className]="my_class3">
              <div class="popup">
                <div class="content newContentPop msgSucs" *ngIf="statusCode==1">
                  <div><img src="assets/images/checkmark.gif"></div><br>
                  <div>{{successMsg}}</div>
                </div>
                <div class="content newContentPop msgFails" *ngIf="statusCode==0">
                  <div>{{failMsg}}</div>
                </div>
              </div>
            </div>
            <div id="certificate" [className]="my_class4">
              <div class="popup adjpopup" >
                <h2 i18n="@@loco:$1260">Test Result</h2>
                <div class="close" (click)="closeButton4()" ><img class="" src="assets/images/delete.png"></div>
                <div class="content newContentPop">
                  <div class="table-responsive table-fixed padding-top" style="padding-top:25px">
                    <table  [mfData]="certificateData" #mf2="mfDataTable" [mfRowsOnPage]="6" class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                      <thead>

                      <tr class="tableDarkHeader">
                        <th><mfDefaultSorter by="docno" i18n="@@loco:$2169">Document Number</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="srNo" i18n="@@loco:$2170">Serial Number</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="paramName" i18n="@@loco:$2171">Test Parameter</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="assVal" i18n="@@loco:$2172">Test Value</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="sampleId" i18n="@@loco:$2173">Sample Id</mfDefaultSorter></th>
                      </tr>
                    </thead>
                    <tbody id="certDark">
                      <tr>
                        <td colspan="5" *ngIf="mf2.length=='0'" class="noDataDisp" i18n="@@loco:$2174">No data to display</td>
                      </tr>
                      <tr  *ngFor='let post of mf2.data'>
                        <td>{{post.docno}}</td>
                        <td>{{post.srNo}}</td>
                        <td>{{post.paramName}}</td>
                        <td>{{post.assVal}}</td>
                        <td>{{post.sampleId}}</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td colspan="5">
                          <mfBootstrapPaginator></mfBootstrapPaginator>
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                 </div>
               </div>
              </div>
            </div>
              </div>
    </div>

    <!-- POPUP FOR LOGGEDOUT SESSION EXPIRE -->
            <div id="popup4" [className]="my_class5">
                  <div class="popup">

                    <div class=" newContentPop ">
                      <div>Your token has expired.<br> Redirecting to login page...</div>
                    </div>

                  </div>
              </div>
<!--popup ends-->
  </div>
</div>
<!-- /.box -->
</section>
</div>
<!-- /.row -->
</section>
</div>
