/* Tooltip container */
/*.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}*/
.adjpopup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 50%!important;
    position: relative;
    transition: all 5s ease-in-out;
}
.msgSucs{
  text-align: center;
    color: green;
    font-size: 24px;
    padding: 0 0 16px;
    font-weight: 700;
    opacity: 0.8;
}
.msgFails{
  text-align: center;
    color: red;
    font-size: 24px;
    padding: 0 0 16px;
    font-weight: 700;
    opacity: 0.8;
}
.errorPopup{
  height: 10px;
  font-size: 15px;
  color: red;
}

.value-adj{
  font-size: 16px;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
.newContentPop{
  min-height: 0px!important;
}
.popbtn{
  width: 80px!important;
}


.bidTextred{
  color: red;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 5px;

}
.bidTextgreen{
  color: green;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 5px;
}


.modal-dialog{
  top:35%;
}
.padding{
  background-color: #e5ebe8;
}
.btn-rad0{
  border-radius: 0;
  width: 100%;
}
.textfield-adjust{
  margin-top: -49px;
  margin-left: 56%;
  width:58%;
}
.pay-color{
  color:white;
}
.pay-color:hover{
  color:white;
  background-color: #228b4e;
  border-color: #228b4e;

}
.outlineNo{
  outline: none!important;
}
.btncolor{
  background-color: grey;
  color:#fff;
  font-weight: bold;
}
.btncolor:hover{
  background-color: #524e4e;
  color:#fff;
  font-weight: bold;
}
.main-footer {
    position: fixed;
    background: #fff;
    bottom: 0!important;
    width: 100%;
    height: 60px;
    color: #444;
    border-top: 1px solid #d2d6de;
    box-shadow: 6px -4px 17px -4px rgba(210,214,222,1);
}
.toolbar-adj{
    margin-bottom: -7px;

    padding-top: 25px;
    padding-right: 14px;
}
.side-adj{
      margin-right: -29px;
}
.upper-adj{
  margin-top: -5px;
    margin-left: -11px;
    margin-right: -10px;
}
.commodity-adj{
  padding-top: 10px;
  margin-left: -11px;
}
.txtfld-height{
  height: 49px;
}
.textfield-adjust2{
    margin-top: -49px;
    margin-left: 100%;
    height: 49px;
}
.date-field{
  width:58%;
}
.search-btn{
  width: 68%;
  margin-top: -57px;
  margin-left: 200%;
  background-color: #f59e12;
  color: white;
}

.search-hover:hover{
  background-color: #f3c111;
  border-color: #f3c111;
  color: white;
}
.search-hover:focus{
  background-color: white!important;
  box-shadow: none;
  color: #55595C;
}
.search-btn-height{
  height: 49px;
}
.box-adjust{
  margin-top: 39px;
  margin-right: -6px;
  margin-left: -11px;


}
.border-add{
  margin-bottom: -16px;

  margin-left: 0px;
  margin-right: 0px;
}
.sec-box{
  width: 63%;
  margin-left: -10px;

}
.pending-name{
  width: 9%;
  font-weight: bolder;
  font-family: 'Lato', sans-serif;
  font-size: small;
  color:  #2c9759;
}
.pending-amount{
  width: 9%;
  padding-left: 89%;
  margin-top: -21px;
  font-weight: bolder;
  font-family: 'Lato', sans-serif;
  font-size: large;
  color:  #2c9759;
}
.table-fixed{


  width: 100%;

}
.btn-trade{
  background-color: #00ccb1;
  border-color: #00ccb1!important;
  color: white;
}
.btn-trade:hover{
  background-color: #0cb7a0;
  border-color: #00ccb1!important;
  color: white;
}
.btn-pay-ajst1{
      height: 25px!important;
      text-align: center;
      font-size: 14px;
      border-radius: 20px;

      width: auto!important;
      line-height: 15px;
      padding: 5px 15px!important;
}
.btn-pay-ajst2{
  height: 25px!important;
    text-align: center;
    font-size: 14px;
    border-radius: 20px;

    width: auto!important;
    line-height: 15px;
    padding: 5px 15px!important;
}
.btn-pay-ajst-disable{
    height: 17px;
    text-align: center;
    font-size: 14px;
    border-radius: 20px;
    background-color: #e5ebe8;
    border-color: #e5ebe8;
    color:#9a9a9a;
}
.btn-pay-ajst-disable:hover{
    height: 17px;
    text-align: center;
    font-size: 14px;
    border-radius: 20px;
    background-color: #e5ebe8!important;
    border-color: #e5ebe8;
    color:#9a9a9a;
    cursor: default;
}
.side-table-adjust{
    margin-left: 57em;
    margin-top: -71.5%;
    width: 60.80%;
}
.side-table-adjust2{
  margin-left: 63.20%;
  margin-top: -70%;
  width: 38.20%;
}
.side-table-adjust3{
  margin-left: 63.20%;
  margin-top: -46%;
  width: 38.20%;
}
.header-font{
  font-family: 'Lato', sans-serif;
  color: #2c9759;
  font-size: 22px;
  padding-top: 12px;

}

.padding-top{
  padding-top: 18px!important;

}

.amount-adj{

  font-family: 'Lato', sans-serif;
  color: #2c9759;
  font-size: large;
  font-weight: bold;
  padding-right: 63px;
}
.input-adj{
  height: 49px;
}
.text-pending-adjust{
  margin-left: 2px;
    font-size: large;
}
.pagination-right{
  margin-left: 33%;
}
.padding-right0{
  padding-right: 0;
}
.red{
  background-color: red!important;
  display: inline-block;
}

@media screen and (max-width: 767px)
{
.table-responsive {
  border: none;
}
.checkbox.checkbox-danger.col-lg-4.col-md-4.col-xs-12.col-sm-12.paddingNo {
    text-align: center;
}
.res-btn{
  padding: 16px 14px;
}
}
