
<div class="content-wrapper">
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
          <!-- /.box-header -->
          <div class="box-body">
            <div class="row">

              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                <div class="border-add">
                  <!-- <div class="form-group "> -->
                  <div class="">
                    <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 redText toolbar-adj yellowText" style="color:red;padding-bottom:10px;" i18n="@@loco:$1943">*Date is mandatory to search</div>
                    <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4">
                      <form #myForm="ngForm" novalidate>
                        <my-date-picker name="mydate" [options]="myDatePickerOptions" placeholer="Pick date" i18n-placeholder="[placeholder]@@loco:$1287"
                        [(ngModel)]="dateInsert" required ></my-date-picker>
                      </form>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 res-btn">
                      <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''" (ngModelChange)="searchLotcode($event)" placeholder="Lot Code" i18n-placeholder="[placeholder]@@loco:$1310" style="">
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3  res-btn">
                      <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''" (ngModelChange)="searchInvoiceNo($event)" placeholder="Invoice No." i18n-placeholder="[placeholder]@@loco:$1544" >
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2  res-btn">
                      <button type="submit" (click)="doSearch()" class="btn btn-success white m-b form-control input-adj outlineNo" i18n="@@loco:$1682">Search</button>
                    </div>
                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 ">
                      <flash-messages></flash-messages>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 res-adj1">    <hr />  </div>
                  <div class="col-lg-12 col-md-12">
                    <div class="header-font res-adj">
                      <div class=" text-pending-adjust pull-left"  style="padding:0;" i18n="@@loco:$1971">Pending Amount</div>
                      <div class="amount-adj pull-right">
                        <!-- <span>
                          <img src="assets/images/rupee-indian.png" style="margin-bottom:5px;">
                        </span> -->
                        <span *ngIf="totalPending!=undefined">{{totalPending}}</span>
                        <span *ngIf="totalPending==undefined">-.-</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table-fixed padding-top table-responsive">
                  <table  [mfData]="filteredData"  #pnd="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" ><!--[(mfSortBy)]="sortBy"-->
                    <thead>
                      <tr>
                        <th><mfDefaultSorter by="auchInvoiceDOCNO" i18n="@@loco:$1780">Invoice</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="auchInvoiceDate" i18n="@@loco:$1781">Invoice Date</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="lotCode" i18n="@@loco:$1786">Lot Code</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="farmerName" i18n="@@loco:$776">Seller Name</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="agentName" i18n="@@loco:$1124">Agent Name</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="auchAmtToPay" i18n="@@loco:$1782">Invoice Amount</mfDefaultSorter></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td colspan="7" *ngIf="pnd.data.length=='0'" class="noDataDisp">No data to display</td>
                      </tr>
                      <tr *ngFor='let post of pnd.data'>
                        <!-- <div ngHide="pnd.data.length">No data to display</div> -->
                        <td>{{post.auchInvoiceDOCNO}}</td>
                        <td>{{post.auchInvoiceDate}}</td>
                        <td>{{post.lotCode}}</td>
                        <td>{{post.farmerName}}</td>
                        <td>{{post.agentName}}</td>
                        <td>{{post.auchAmtToPay}}</td>
                        <td><button  type="button" class="btn pay-color btn-pay-ajst1 outlineNo"  i18n="@@loco:$1763" (click)="collectData(post)" [disabled]="post.paymentAllowed=='N'">Payment Gateway</button>&nbsp;&nbsp;&nbsp;
                            <button  type="button" class="btn btn-warning btn-pay-ajst2 outlineNo" (click)="getPdf(post)" i18n="@@loco:$1764" [disabled]="post.paymentAllowed=='N'">Challan</button>
                        </td>
                      </tr>

                      <div id="popup3" [className]="my_class1" >
                        <div class="popup payment" >
                          <div class="close closeDiv" (click)="payHide()" ><img class="deleteImage" src="assets/images/delete.png"></div>
                          <div class="content newContentPop" style="min-height:0">
                          <div class="noteText">  Please Note, as per RBI instructions credit will be effected based solely on beneficiary account number information and beneficiary name perticulars will not be used therefore.
                          </div>
                          <br>
                          <table class="gridtable">
                            <tbody>
                            <tr>
                              <td width="744px">
                                <b>Terms and Conditions For Online-Payments</b>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                          <div class="detailTabDiv">
                          <table class="detailtable">
                <tbody><tr>
                    <td width="744px">

                            <p>
                               The Terms and Conditions contained herein shall apply to any person(“<b>User</b>”) using the services of Small Farmers’ Agri-Business Consortium (SFAC)
                                          for making payments
                                           through the online payment gateway service (“<b>Service</b>”)
                                                                                                         offered
                                                                                                         jointly by
                                                                                                         ICICI Bank
                                                                                                         Ltd. and
                                                                                                         Payment
                                                                                                         Gateway
                                                                                                         Service
                                                                                                         provider,
                                                                                                         deemed to
                                                                                                         have read and
                                                                                                         accepted
                                                                                                         these Terms
                                                                                                         and
                                                                                                         Conditions.
                            </p>
                            <p>
                                <b>A. Privacy Policy</b>
                            </p>
                            <p>SFAC respects and protects the privacy
                               of the individuals that access the information and use the services provided through
                               them. Individually identifiable information about the User is not willfully disclosed to
                               any third party without first receiving the User’s permission, as covered in this
                               Privacy Policy.</p>
                            <p>This Privacy Policy describes SFAC’s treatment of personally identifiable information that SFAC collects when User is on the eNAM. eNAM Portal  does not collect any unique information about the User (such as
                               User’s name, email address, age, gender etc.) except when the User specifically and
                               knowingly provide such information on the Website. Like any business interested in
                               offering the highest quality of service to clients, eNAM Portal  may, from time to time, send email and other communication to the User
                               tell them about the various services, features, functionality and content offered by
                               eNAM or seek voluntary
                               information from you.</p>
                            <p>Please be aware, however, that SFAC
                               will release specific personal information about the User if required to do so in the
                               following cirumstances:</p>
                            <p>&emsp;a) in order tocomply with any valid legal process such as a search warrant,
                               statute, or court order, or</p>
                            <p>&emsp;b) if any of User’s actions on eNAM website violate the Terms of Service or any of eNAM guidelines for specific services, or</p>
                            <p>&emsp;c) to protect or defend SFAC’s legal rights or property, the eNAM Website , or eNAM Users; or</p>
                            <p>&emsp;d) to investigate, prevent, or take action regarding illegal activities, suspected
                               fraud, situations involving potential threats to the security, integrity of eNAM website/offerings.</p>
                            <p>
                                <b>B. General Terms and Conditions For Online-Payments</b>
                            </p>
                            <p>1. Once a User has accepted these Terms and Conditions, he/ she may register and avail
                               the Services on eNAM Portal.</p>
                            <p>2. SFAC's rights, obligations,
                               undertakings shall be subject to the laws in force in India, as well as any directives/
                               procedures of Government of India, and nothing contained in these Terms and Conditions
                               shall be in derogation of SFAC's right
                               to comply with any law enforcement agencies request or requirements relating to any
                               User’s use of the website or information provided to or gathered by SFAC with respect to such use. Each User accepts and
                               agrees that the provision of details of his/ her use of the Website to regulators or
                               police or to any other third party in order to resolve disputes or complaints which
                               relate to the Website shall be at the absolute discretion of SFAC.</p>
                            <p>3. If any part of these Terms and Conditions are determined to be invalid or
                               unenforceable pursuant to applicable law including, but not limited to, the warranty
                               disclaimers and liability limitations set forth herein, then the invalid or unenforceable
                               provision will be deemed superseded by a valid, enforceable provision that most closely
                               matches the intent of the original provision and the remainder of these Terms and
                               Conditions shall continue in effect.</p>
                            <p>4. These Terms and Conditions constitute the entire agreement between the User and
                               SFAC. These Terms and Conditions
                               supersede all prior or contemporaneous communications and proposals, whether electronic,
                               oral, or written, between the User and SFAC. A printed version of these Terms and Conditions and of any notice given in
                               electronic form shall be admissible in judicial or administrative proceedings based upon
                               or relating to these Terms and Conditions to the same extent and subject to the same
                               conditions as other business documents and records originally generated and maintained in
                               printed form.</p>
                            <p>5. The entries in the books of NAM
                               and/or the Payment Service Providers kept in the ordinary course of business of NAM  and/or the Payment Service Providers with
                               regard to transactions covered under these Terms and Conditions and matters therein
                               appearing shall be binding on the User and shall be conclusive proof of the genuineness
                               and accuracy of the transaction.</p>
                            <p>
                                6.
                                <b>Refund For Charge Back Transaction</b>: In the event there is any claim for/ of
                                                                         charge back by the User for any reason
                                                                         whatsoever, such User shall immediately
                                                                         approach SFAC with his/ her claim details
                                                                         and claim refund from SFAC alone. Such
                                                                         refund (if any) shall be effected only by
                                                                         SFAC via payment gateway or by means of a
                                                                         demand draft or such other means as SFAC
                                                                         deems appropriate. No claims for refund/ charge
                                                                         back shall be made by any User to the Payment
                                                                         Service Provider(s) and in the event such claim
                                                                         is made it shall not be entertained.
                            </p>
                            <p>
                                7. In these Terms and Conditions, the term “
                                <b>Charge Back</b>” shall mean, approved and settled credit card or net banking
                                                  purchase transaction(s) which are at any time refused, debited or
                                                  charged back to merchant account (and shall also include similar
                                                  debits to Payment Service Provider's accounts, if any) by the
                                                  acquiring bank or credit card company for any reason whatsoever,
                                                  together with the bank fees, penalties and other charges incidental
                                                  thereto.
                            </p>
                            <p>8. Refund for fraudulent/duplicate transaction(s): The User shall directly contact
                               SFAC for any fraudulent transaction(s)
                               on account of misuse of Card/ Bank details by a fraudulent individual/party and such
                               issues shall be suitably addressed by SFAC
                               alone in line with their policies and rules.</p>
                            <p>9. Server Slow Down/Session Timeout: In case the Website or Payment Service
                               Provider’s webpage, that is linked to the Website, is experiencing any server
                               related issues like ‘slow down’ or ‘failure’ or ‘session
                               timeout’, the User shall, before initiating the second payment,, check whether
                               his/her Bank Account has been debited or not and accordingly resort to one of the
                               following options:</p>
                            <p>&emsp;(i) In case the Bank Account appears to be debited, ensure that he/ she does not
                               make the payment twice and immediately thereafter contact SFAC via e-mail or any other mode of contact as provided by SFAC to confirm payment.</p>
                            <p>&emsp;(ii)In case the Bank Account is not debited, the User may initiate a fresh
                               transaction to make payment.</p>
                            <p>However, the User agrees that under no circumstances the Payment Gateway Service Provider
                               shall be held responsible for such fraudulent/duplicate transactions and hence no claims
                               should be raised to Payment Gateway Service Provider.</p>
                            <p>
                                <b>C. Limitation of Liability</b>
                            </p>
                            <p>1. SFAC has made this Service available
                               to the User as a matter of convenience. SFAC expressly disclaims any claim or liability arising out of the provision of
                               this Service. The User agrees and acknowledges that he/ she shall be solely responsible
                               for his/ her conduct and that SFAC
                               reserves the right to terminate the rights to use of the Service immediately without
                               giving any prior notice thereof.</p>
                            <p>2. SFAC and/or the Payment Service
                               Providers shall not be liable for any inaccuracy, error or delay in, or omission of (a)
                               any data, information or message, or (b) the transmission or delivery of any such data,
                               information or message; or (c) any loss or damage arising from or occasioned by any such
                               inaccuracy, error, delay or omission, non-performance or interruption in any such data,
                               information or message. Under no circumstances shall the SFAC and/or the Payment Service Providers, its employees, directors,
                               and its third party agents involved in processing, delivering or managing the Services,
                               be liable for any direct, indirect, incidental, special or consequential damages, or any
                               damages whatsoever, including punitive or exemplary arising out of or in any way
                               connected with the provision of or any inadequacy or deficiency in the provision of the
                               Services or resulting from unauthorized access or alteration of transmissions of data or
                               arising from suspension or termination of the Services.</p>
                            <p>3. SFAC and the Payment Service
                               Provider(s) assume no liability whatsoever for any monetary or other damage suffered by
                               the User on account of:</p>
                            <p>&emsp;(i) the delay, failure, interruption, or corruption of any data or other
                               information transmitted in connection with use of the Payment Gateway or Services in
                               connection thereto; and/ or</p>
                            <p>&emsp;(ii) any interruption or errors in the operation of the Payment Gateway.</p>
                            <p>4. The User shall indemnify and hold harmless the Payment Service Provider(s) and
                               SFAC and their respective officers,
                               directors, agents, and employees, from any claim or demand, or actions arising out of or
                               in connection with the utilization of the Services.</p>
                            <p>5. The User agrees that SFAC or any of
                               its employees will not be held liable by the User for any loss or damages arising from
                               your use of, or reliance upon the information contained on the Website, or any failure to
                               comply with these Terms and Conditions where such failure is due to circumstance beyond
                               SFAC’s reasonable control.</p>
                            <p>
                                <b>D. Miscellaneous Conditions :</b>
                            </p>
                            <p>1. Any waiver of any rights available to SFAC under these Terms and Conditions shall not mean that those rights are
                               automatically waived.</p>
                            <p>2. The User agrees, understands and confirms that his/ her personal data including
                               without limitation details relating to debit card/ credit card transmitted over the
                               Internet may be susceptible to misuse, hacking, theft and/ or fraud and that SFAC or the Payment Service Provider(s) have no
                               control over such matters.</p>
                            <p>3. Although all reasonable care has been taken towards guarding against unauthorized use
                               of any information transmitted by the User, SFAC does not represent or guarantee that the use of the Services provided by/
                               through it will not result in theft and/or unauthorized use of data over the Internet.</p>
                            <p>4. SFAC, the Payment Service
                               Provider(s) and its affiliates and associates shall not be liable, at any time, for any
                               failure of performance, error, omission, interruption, deletion, defect, delay in
                               operation or transmission, computer virus, communications line failure, theft or
                               destruction or unauthorized access to, alteration of, or use of information contained on
                               the Website.</p>
                            <p>5. The User may be required to create his/ her own User ID and Password in order to
                               register and/ or use the Services provided by SFAC on the Website. By accepting these Terms and Conditions the User aggrees that
                               his/ her User ID and Password are very important pieces of information and it shall be
                               the User’s own responsibility to keep them secure and confidential. In furtherance
                               hereof, the User agrees to;</p>
                            <p>&emsp;i. Choose a new password, whenever required for security reasons.</p>
                            <p>&emsp;ii. Keep his/ her User ID &amp; Password strictly confidential.</p>
                            <p>&emsp;iii. Be responsible for any transactions made by User under such User ID and
                               Password.</p>
                            <p>The User is hereby informed that SFAC
                               will never ask the User for the User’s password in an unsolicited phone call or in
                               an unsolicited email. The User is hereby required to sign out of his/ her SFAC account on the Website and close the web browser
                               window when the transaction(s) have been completed. This is to ensure that others cannot
                               access the User’s personal information and correspondence when the User happens to
                               share a computer with someone else or is using a computer in a public place like a
                               library or Internet café.</p>
                            <p>
                                <b>E. Debit/Credit Card, Bank Account Details</b>
                            </p>
                            <p>1. The User agrees that the debit/credit card details provided by him/ her for use of the
                               aforesaid Service(s) must be correct and accurate and that the User shall not use a
                               debit/ credit card, that is not lawfully owned by him/ her or the use of which is not
                               authorized by the lawful owner thereof. The User further agrees and undertakes to provide
                               correct and valid debit/credit card details.</p>
                            <p>2. The User may pay his/ her margin money/security deposit/transaction fee etc. towards the trade happening on eNAM portal  by using a debit/credit card or
                               through online banking account. The User warrants, agrees and confirms that when he/ she
                               initiates a payment transaction and/or issues an online payment instruction and provides
                               his/ her card / bank details:</p>
                            <p>&emsp;i. The User is fully and lawfully entitled to use such credit / debit card, bank
                               account for such transactions;</p>
                            <p>&emsp;ii. The User is responsible to ensure that the card/ bank account details provided
                               by him/ her are accurate;</p>
                            <p>&emsp;iii. The User is authorizing debit of the nominated card/ bank account for the
                               payment of margin money/security deposit/transaction fee etc  selected by such User along with the applicable Fees.</p>
                            <p>&emsp;iv. The User is responsible to ensure sufficient credit is available on the
                               nominated card/ bank account at the time of making the payment to permit the payment of
                               the dues payable or the bill(s) selected by the User inclusive of the applicable Fee.</p>
                            <p>
                                <b>F. Personal Information</b>
                            </p>
                            <p>1. The User agrees that, to the extent required or permitted by law, SFAC and/ or the Payment Service Provider(s) may also
                               collect, use and disclose personal information in connection with security related or law
                               enforcement investigations or in the course of cooperating with authorities or complying
                               with legal requirements.</p>
                            <p>2. The User agrees that any communication sent by the User vide e-mail, shall imply
                               release of information therein/ therewith to SFAC. The User agrees to be contacted via e-mail on such mails initiated by him/
                               her.</p>
                            <p>3. In addition to the information already in the possession of SFAC and/ or the Payment Service Provider(s), SFAC may have collected similar information from the User
                               in the past. By entering the Website the User consents to the terms of SFAC’s information privacy policy and to SFAC’s continued use of previously
                               collected information. By submitting the User’s personal information to SFAC, the User will be treated as having given
                               his/her permission for the processing of the User’s personal data as set out herein.</p>
                            <p>4. The User acknowledges and agrees that his/ her information will be managed in
                               accordance with the laws for the time in force.</p>
                            <p>
                                <b>G. Payment Gateway Disclaimer</b>
                            </p>
                            <p>The Service is provided in order to facilitate access to view and pay margin money/security deposit/transaction fee etc online. SFAC or the Payment Service Provider(s) do not make any
                               representation of any kind, express or implied, as to the operation of the Payment
                               Gateway other than what is specified in the Website for this purpose. By accepting/
                               agreeing to these Terms and Conditions, the User expressly agrees that his/ her use of
                               the aforesaid online payment Service is entirely at own risk and responsibility of the
                               User.</p>

                    </td>
                </tr>
            </tbody></table></div>
                          </div>
                          <div class="modal-footer" >
                            <div class="radio">
                              <label><input type="checkbox" name="optradio" value="yes"  (click)=" openPayNow($event.target.checked)"  [(ngModel)]='checkRadio' >I Agree to The Terms and Conditions</label>
                              <!-- <label><input type="radio"  name="optradio" value="no"  (click)="payHide()">Disagree</label> -->
                              <input type="submit" class="btn btn-default outlineNo btn-success" style="color:white;" (click)="payShow1()" value="Pay Now" [disabled]="payDisabled" (click)="payNow()">
                            </div>
                          </div>
                        </div>
                      </div>

                      <div id="popup4" [className]="my_class2">
                        <div class="popup" >
                          <form ngNoForm name="paymentform" method="post" target="_blank" action="https://test.ccavenue.com/transaction/transaction.do?command=initiateTransaction">
                            <h2 i18n="@@loco:$1896">Pay Now</h2>
                            <div class="close" (click)="payHide1()"><img class="" src="assets/images/delete.png"></div>
                            <div class=" newContentPop" style="min-height:0">
                              <!-- <p>By clicking on the 'Pay' button, you agree to eNam's <a style="color:red;cursor:pointer">privacy notice</a> and <a style="color:red;cursor:pointer">conditions</a> of use.</p><br> -->
                              <!-- <p><b>Pay Using Debit Card / NetBanking</b></p> -->

                                <input type="hidden" id="encRequest" name="encRequest" value={{encRequest}}/>
                                <input type="hidden" name="access_code" id="access_code" value={{accessCode}}/>

                            </div>
                            <div class="modal-footer">
                              <input type="submit" class="btn btn-default outlineNo btn-success" style="color:white;"  value="Debit Card/NetBanking">
                              <button type="button" class="btn btn-default outlineNo" data-dismiss="modal" (click)="payHide1()">Cancel</button>
                            </div>
                          </form>
                          <!-- <input type="submit" class="btn btn-default outlineNo btn-success" style="color:white;"  value="UPI" > -->

                        </div>
                      </div>


                    </tbody>
                    <tfoot>
                      <tr>
                        <td colspan="7">
                          <mfBootstrapPaginator></mfBootstrapPaginator>
                        </td>
                      </tr>
                    </tfoot>
                  </table><!--TABLE ENDS-->
                </div><!--TABLE DIV ENDS HERE-->
              </div>
            </div>

            <!-- POPUP FOR LOGGEDOUT SESSION EXPIRE -->
            <div id="popup4" [className]="my_class4">
                  <div class="popup">

                    <div class=" newContentPop errorPopup">
                      <div>Your token has expired.<br> Redirecting to login page...</div>
                    </div>

                  </div>
              </div>
<!--popup ends-->

          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0;padding-left:0px;">
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12" style="padding: 0;">
              <div class="box box-default commodity-adj">
                <div class="border-add">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="header-font text-pending-adjust" i18n="@@loco:$1776" style="text-overflow: ellipsis;overflow: hidden;">Agreement Type</div>
                  </div>
                </div>
                <!--outcry data tbale here-->
                <div class="table-responsive table-fixed padding-top" style="padding-top:25px">
                  <table  [mfData]="outcryData" #mf1="mfDataTable" [mfRowsOnPage]="10" class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                    <thead>
                      <tr>
                        <!--<th>
                        Filter by name:
                        <input class="form-control" [(ngModel)]="filterQuery"/>
                      </th>-->
                    </tr>
                    <tr>
                      <th><mfDefaultSorter by="accType" i18n="@@loco:$1777">Auction Type</mfDefaultSorter></th>
                      <th><mfDefaultSorter by="lotCode" i18n="@@loco:$1786">Lot Code</mfDefaultSorter></th>
                      <th><mfDefaultSorter by="productName" i18n="@@loco:$1817">Product Name</mfDefaultSorter></th>
                      <th><mfDefaultSorter by="bidRate" i18n="@@loco:$1316">Bid Rate</mfDefaultSorter></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td colspan="7" *ngIf="mf1.data.length=='0'" class="noDataDisp">No data to display</td>
                    </tr>
                    <tr  *ngFor='let post of mf1.data'>
                      <td>{{post.accType}}</td>
                      <td>{{post.lotCode}}</td>
                      <td>{{post.productName}}</td>
                      <td>{{post.bidRate}}</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="5">
                        <mfBootstrapPaginator></mfBootstrapPaginator>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>

            </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-4 col-xs-12 padding-right0 pad-adj">

              <div class="box">
                <div class="box-header">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-overflow: ellipsis;overflow: hidden;"><h2 class=" header-font"  i18n="@@loco:$1770" >Permits</h2></div>
                  <!-- <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding: 16px 15px 0;" data-placement="down" title="click to print">
                    <img style="" src="assets/images/printer-.png" height="26px" width="26px" (click)="print()" style="cursor:pointer">
                  </div> -->
                    <div class="">
                      <button type="button" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 btn btn-warning outlineNo"  style="background-color: #45bfe9;border-color: #45bfe9;margin-top: 12px;" name="button" id="hide1" (click)="getPermitReq()"  data-placement="down" title="click to view"><p i18n="@@loco:$41">View</p></button>
                    </div>

                  <!-- (click)="hideElement=!hideElement" -->
                </div>
                <div id="SH" class="box-header paddingNo " style="padding-top:14px;" *ngIf="hideElement">
                <!-- <div id="SH" class="box-header paddingNo" style="padding-top:14px;"> -->
                  <!-- *ngIf="hideElement" -->

                  <span class="col-lg-12 col-md-12 cl-xs-12 col-sm-12" >
                    <span class="col-sm-10 col-xs-10 col-lg-10 col-lg-10 textBold" i18n="@@loco:$1771" style="color: #00a65b;font-weight: 500;font-size: 17px;">Permit Issued</span>
                    <span class="col-sm-2 col-xs-2  col-lg-2 col-lg-2 textWhite" style="    font-size: 17px;" >{{permitReqData?.issued}}</span>
                  </span>
                  <span class="col-lg-12 col-md-12 cl-xs-12 col-sm-12">
                    <span class="col-sm-10 col-xs-10 col-lg-10 col-lg-10 textBold " i18n="@@loco:$1772" style="color: #00a65b;font-weight: 500;font-size: 17px;">Permit Requested</span>
                    <span class="col-sm-2 col-xs-2  col-lg-2 col-lg-2 textWhite" style="font-size: 17px;padding-bottom:17px;" >{{permitReqData?.requested}}</span>
                  </span>


                </div>
              </div>


              <div class="box">
                <div class="box-header">
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8"><h2 class=" header-font"  i18n="@@loco:$1970" >Trade</h2></div>
                </div>
                <div class="box-header paddingNo" style="padding-top:14px;padding-bottom:22px!important">
                  <span class="col-lg-12 col-md-12 cl-xs-12 col-sm-12" >
                    <span class="col-sm-10 col-xs-10 col-lg-10 col-lg-10 textBold"  style="color: #00a65b;font-weight: 500;font-size: 17px;">{{status1}}</span>
                    <span class="col-sm-2 col-xs-2  col-lg-2 col-lg-2 textWhite" style="    font-size: 17px;" >{{x}}</span>
                  </span>
                  <span class="col-lg-12 col-md-12 cl-xs-12 col-sm-12">
                    <span class="col-sm-10  col-xs-10 col-lg-10 col-lg-10 textBold"  style="color: #00a65b;font-weight: 500;font-size: 17px;">{{status2}}</span>
                    <span class="col-sm-2 col-xs-2 col-lg-2 col-lg-2 textWhite" style="    font-size: 17px;" >{{y}}</span>
                  </span>
                </div>
              </div>
              <div class="box">
                <div class="box-header">

                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="text-overflow: ellipsis;overflow: hidden;"><h2 class=" header-font"  i18n="@@loco:$1900" >Security Deposit Details</h2></div>
                </div>
                <div class="table-responsive table-fixed" style="padding-left: 18px;">
                  <table class="table b-t padding-top sec-adj">

                    <tbody>
                      <tr>
                        <td class="" i18n="@@loco:$1901">Trade Limit:</td>
                        <td><input class="form-control input-adj ng-pristine ng-valid ng-touched inputDark inputWhite" [readonly]="true" type="text" placeholder={{securityDepositData.lcamTradeLimit}}></td>
                      </tr>
                      <tr>
                        <td class="" i18n="@@loco:$1902">Security Deposit:</td>
                        <td><input class="form-control input-adj ng-pristine ng-valid ng-touched inputDark inputWhite" [readonly]="true" type="text" placeholder={{securityDepositData.lcamSecurityDeposit}}></td>
                      </tr>
                      <tr>
                        <td class="" i18n="@@loco:$1903">Clear Balance:</td>
                        <td><input class="form-control input-adj ng-pristine ng-valid ng-touched inputDark inputWhite" [readonly]="true" type="text" placeholder={{securityDepositData.pending}}></td>
                      </tr>
                      <tr>

                        <td colspan="2" style="width:100%;">
                          <button  type="button" class="btn pay-color btn-pay-ajstSD outlineNo" style="float:right" i18n="@@loco:$1904">Pay</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
              </div>
              </div>

              <div class="box">
                <div class="box-header">
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="text-overflow: ellipsis;overflow: hidden;"><h2 class=" header-font" style="margin-bottom: 0;"  i18n="@@loco:$512" >Preferred Commodity</h2></div>
                </div>
                <div class="box-header " style="">
                  <div class="table-responsive table-fixed ">
                    <table  [mfData]="commodityData" #mf="mfDataTable" [mfRowsOnPage]="3" class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                      <!-- <thead>
                        <tr> -->
                          <!--<th>
                          Filter by name:
                          <input class="form-control" [(ngModel)]="filterQuery"/>
                        </th>-->
                      <!-- </tr>
                      <tr>
                        <th><mfDefaultSorter by="gmpmgProdName" i18n="@@loco:$512">Product Name</mfDefaultSorter></th> -->
                        <!-- <th><mfDefaultSorter by="lastBidValue" i18n="@@loco:$1601">Last Bid Value</mfDefaultSorter></th> -->
                      <!-- </tr>
                    </thead> -->
                    <tbody>
                      <tr>
                        <td colspan="7" *ngIf="mf.data.length=='0'" class="noDataDisp">No data to display</td>
                      </tr>
                      <tr *ngFor='let post of mf.data'>
                        <td>{{post.gmpmgProdName}}</td>
                        <!-- <td>{{post.lastBidValue}}</td> -->

                      </tr>

                    </tbody>
                    <tfoot>
                      <tr>
                        <td colspan="5">
                          <mfBootstrapPaginator></mfBootstrapPaginator>
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
                </div>
              </div>
            </div>
      </div>
    <!-- /.box -->
  </section>
</div>
<!-- /.row -->
</section>

</div>
