/*.hide{
  display: block;
}
#SH {
    transition:transform 3s ease-out;
}*/

.modal-dialog{
  top:15%;
}

.padding{
  background-color: #e5ebe8;
}
.btn-rad0{
  border-radius: 0;
}
.pie-adj{

}
/*#SH{
  display: none;
}*/
.transition{
  position: relative;
    -moz-transition-property: left;
    -o-transition-property: left;
    -webkit-transition-property: left;
    transition-property: left;
    -moz-transition-duration: 5s;
    -o-transition-duration: 5s;
    -webkit-transition-duration: 5s;
    transition-duration: 5s;
    transition: all 5s fade-in-out;
}

.textfield-adjust{
  margin-top: -49px;
  margin-left: 56%;
  width:58%;
}
.pay-color{
  color:white;
}
.main-footer {
    /*position: fixed;*/
    background: #fff;
    bottom: 0!important;
    width: 100%;
    height: 60px;
    color: #444;
    border-top: 1px solid #d2d6de;
    box-shadow: 6px -4px 17px -4px rgba(210,214,222,1);
}
.textBold{
  font-weight: 600;
}
.outlineNo{
  outline: none!important;
}
.padding-top{
  padding: 10px;
}
.pay-color:hover{
  color:white;
  /*background-color: #228b4e;
  border-color: #228b4e;*/

}
.toolbar-adj{

    padding-top: 14px;

}
.pointer{
  cursor: pointer;
}

.side-adj{
      margin-right: -29px;
}
.upper-adj{
  margin-top: -5px;
    margin-left: -11px;
    margin-right: -10px;
}
.commodity-adj{
  padding-top: 10px;

}
.txtfld-height{
  height: 49px;
}
.textfield-adjust2{
    margin-top: -49px;
    margin-left: 100%;
    height: 49px;
}
.date-field{
  width:58%;
}
.search-btn{
  width: 68%;
  margin-top: -57px;
  margin-left: 200%;
  background-color: #f59e12;
  color: white;
}

.search-hover:hover{
  background-color: #f3c111;
  border-color: #f3c111;
  color: white;
}
.search-hover:focus{
  background-color: white!important;
  box-shadow: none;
  color: #55595C;
}
.search-btn-height{
  height: 49px;
}
.box-adjust{
  margin-top: 39px;
  margin-right: -6px;
  margin-left: -11px;


}
.border-add{
  margin-bottom: -16px;

  margin-left: 0px;
  margin-right: 0px;
}
.sec-box{
  width: 63%;
  margin-left: -10px;

}
.pending-name{
  width: 9%;
  font-weight: bolder;
  font-family: 'Lato', sans-serif;
  font-size: small;
  color:  #2c9759;
}
.pending-amount{
  width: 9%;
  padding-left: 89%;
  margin-top: -21px;
  font-weight: bolder;
  font-family: 'Lato', sans-serif;
  font-size: large;
  color:  #2c9759;
}
.table-fixed{

 padding: 10px;
  width: 100%;

}
.inner-permit{
  color:#f3c111;
}
.btn-pay-ajst1{

      text-align: center;
      font-size: 14px;
      border-radius: 20px;
      background-color: #45bfe9;
      border-color: #45bfe9;
      width: auto!important;
      line-height: 15px;
      padding: 5px 15px!important;
}
.btn-pay-ajst2{

    text-align: center;
    font-size: 14px;
    border-radius: 20px;
    /*background-color: #f3c111;
    border-color: #f3c111;*/
    width: auto!important;
    line-height: 15px;
    padding: 5px 15px!important;
}
.btn-pay-ajst-disable{
    height: 17px;
    text-align: center;
    font-size: 14px;
    border-radius: 20px;
    background-color: #e5ebe8;
    border-color: #e5ebe8;
    color:#9a9a9a;
}
.btn-pay-ajst-disable:hover{
    height: 17px;
    text-align: center;
    font-size: 14px;
    border-radius: 20px;
    background-color: #e5ebe8!important;
    border-color: #e5ebe8;
    color:#9a9a9a;
    cursor: default;
}
.side-table-adjust{
    margin-left: 57em;
    margin-top: -71.5%;
    width: 60.80%;
}
.side-table-adjust2{
  margin-left: 63.20%;
  margin-top: -70%;
  width: 38.20%;
}
.side-table-adjust3{
  margin-left: 63.20%;
  margin-top: -46%;
  width: 38.20%;
}
.header-font{
  font-family: 'Lato', sans-serif;
  color: #000;
  font-size: 21px;

}


input.selection.ng-untouched.ng-pristine.ng-valid{
  height: 60px!important;
  line-height: 60px!important;
}


.amount-adj{

  font-family: 'Lato', sans-serif;
  color: #5cb85c;
  font-weight: bold;
}
.input-adj{
  height: 46px;
  border-radius: 0;
}
.text-pending-adjust{
  margin-left: 2px;
    font-size: 22px;
    padding-top: 14px;
}
.pagination-right{
  margin-left: 33%;
}
.padding-right0{
  padding-right: 0;

}
.btn-pay-ajstSD{
  text-align: center;
  font-size: 14px;
  border-radius: 20px;
  background-color: #45bfe9;
  border-color: #45bfe9;
  width: auto!important;
  line-height: 15px;
  padding: 7px 31px!important;
}
.btn-pay-ajstSD1{
  text-align: center;
  font-size: 14px;
  border-radius: 20px;

  width: auto!important;
  line-height: 15px;
  padding: 7px 31px!important;
}

@media screen and (max-width: 767px)
{
    .table-responsive {
      border: none;
    }
    .padding-right0{

      padding-left: 0;
    }
    .text-pending-adjust[_ngcontent-c3] {
      margin-left: 0px;
      font-size: 20px;
      padding-top: 14px;
    }
    .amount-adj[_ngcontent-c3] {

      font-size: 20px;
    }
    .res-btn{
      padding :10px 14px;
    }
}
@media screen and (min-width:768px) and (max-width:1023px)
{

  .res-adj1{
    padding: 45px 0 0!important;
  }
  .sec-adj{
    margin:0 -7px!important;
  }
  .box.box-default.commodity-adj{
    width: 100%!important;
  }
  .pad-adj{
    padding: 0;
  }
  .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    padding: 3px!important;
  }

}
@media screen and (min-width:1024px) and (max-width:5000px)
{

  .res-adj1{
    padding: 0!important;
  }
  .box.box-default.commodity-adj{
    width: 100%!important;
  }
  /*.pad-adj{
    padding: 0 0;
  }*/
  .sec-adj{
    margin: 0px 4px 0 0!important;
  }
  .challan-adj{
    margin: 9px 0;
  }

}
.payment{
    width: 50%;
}
.closeDiv{
    width: 92%;
    border-bottom: 1px solid black;
    height: 31px;
}
.deleteImage{
    float: right;
}
.noteText{
    color: Red !important;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
table.gridtable {
    font-size: 14px;
}
table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #008d4c;
    text-align: center;
}
table.detailtable {
    font-family: verdana, arial, sans-serif;
    /*font-size: 11px;
    color: #333333;
    border-width: 3px;
    border-style: double;
    border-color: #666666;
    border-collapse: collapse;
    text-align: justify;*/
}
table.detailtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
    text-align: justify;
}
.detailTabDiv{
    overflow-y: scroll;
    height: 300px;
    overflow-x: hidden;
}
